section.bookingInfo,
.booking{
  @include container(){
    margin-top: $mar-cont;
  };
}

.booking table span.day{
  margin-bottom: 0;
}

ul.weekdays{
  margin-bottom: $ele-ele;

  @extend %flex, %flex-jc, %flex-ai, %bg-gray-second;
}

ul.weekdays li{
  margin: $ele-ele;
  font-size: $font-base*1.2;
  font-weight: $font-bold;

  @extend %black;
}

.calenderDes{
  margin-top: $ele-ele;
  justify-content: flex-end;

  @extend %flex;
}

.calenderDes span.okay::before{
  content: '';
  margin-right: 7px;
  width: 20px;
  height: 20px;
  border-radius: 50%;

  @extend %in-bl, %bg-yellow-first;
}

.calenderDes span.full::before{
  content: '';
  margin-right: 7px;
  width: 20px;
  height: 20px;
  border-radius: 50%;

  @extend %in-bl, %bg-gray-second;
}

.calenderDes span{
  margin:0 $ele-ele;
}

@include rwd-each(tablet){
  
};