section.bookingInfo,
.booking{
  @include container(){
    margin-top: 65px;
  };
}

.deskTable{
  display: none;
}

.deskTable table span.day{
  margin-bottom: 0;
}

.weekdays{
  width: 100%;
  margin-bottom: $ele-ele;

  @extend %flex, %flex-jc-ai, %bg-gray-second;
}

.weekdays span{
  margin: $ele-ele;
  font-size: $font-base*1.2;
  font-weight: $font-bold;

  @extend %black;
}

@include btn(button, bookingTime, 100%, '%black', '%bg-white');
button.btn-bookingTime{
  border: 1px solid $black;

  @extend %block;
}

.calenderDes{
  margin-top: $ele-ele;
  justify-content: flex-end;

  @extend %flex;
}

.calenderDes span.okay::before{
  content: '';
  margin-right: 7px;
  width: 20px;
  height: 20px;
  border: 1px solid $black;
  border-radius: 50%;

  @extend %in-bl, %bg-white;
}

.calenderDes span.full::before{
  content: '';
  margin-right: 7px;
  width: 20px;
  height: 20px;
  border-radius: 50%;

  @extend %in-bl, %bg-gray-second;
}

.calenderDes span{
  margin:0 $ele-ele;
}

.mobileTable{
  @extend %flex, %flex-w, %flex-jc;
}

.mobileTable table{
  margin-bottom: $ele-ele;
}

.dayMobile{
  @extend %cursor-hand;
}

.mobileTable button{
  flex-basis: 25%;
  margin-bottom: $ele-ele;
  @extend %block;
}

ul.booking-info,
ul.booking-detail{
  margin-bottom: $ele-ele*1.5;
}  

ul.booking-detail input{
  border: none;
  background-color: $gray-second;
}

label.booking-notice{
  padding: $ele-ele 0;
  width: 100%;
  display: block;
}

@include btn(a, cancel, 150px, '%black', '%bg-white');
a.btn-cancel{
  border: 2px solid $black;
  font-weight: $font-regular;
  text-decoration: none;
  @extend %border-box;
}

@include rwd-each(desktop){
  .deskTable{
    display: initial;
  }

  .mobileTable{
    display: none;
  }

  .booking-form{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    
  li.full{
    width: 100%;
  }

  li.sbs{
    width: 48%;
  }
  }
  
  ul.booking-info,
  ul.booking-detail{
    width: 50%;
    padding: $ele-ele*2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
  }

  ul.booking-info h3,
  ul.booking-detail h3{
    width: 100%;
    display: block;
  }

  ul.booking-detail h3{
    margin-bottom: $text-text+2;
  }

  label.booking-notice{
    padding: $ele-ele;
  }
}
