.animate-background {
  background-color   : $gray-third;
  background-image   : url(../../images/forum/CLOUDS.png);
  animation          : animatedBackground 5500s linear infinite;
  background-position: 0px 0px;
  background-repeat  : repeat-x;


}

.forum-body-rules {
  box-sizing: border-box;
}

@keyframes animatedBackground {
  from {
    background-position: 100000% -15%;
  }

  to {
    background-position: 0% -15%;
  }
}




@keyframes animate {
  0% {
    transform: translateY(0px)
  }

  25% {
    transform: translateY(-12px)
  }

  50% {
    transform: translateY(-22px)
  }

  60% {
    transform: translateY(-22px)
  }

  75% {
    transform: translateY(-12px)
  }

  100% {
    transform: translateY(0px)
  }
}

.container-category {
  display    : flex;
  align-items: flex-start;

  .category {
    position        : relative;
    background-color: #fff;
    padding         : 15px;
    display         : flex;
    border-radius   : $btn-radius;
    flex-grow       : 2.5;
    margin-right    : 30px;


    .category-detail {
      flex-grow: 1;

      .category-detail-word {
        font-size     : 18px;
        font-weight   : bold;
        margin-bottom : 10px;
        color         : $gray-first;
        letter-spacing: 3px;

      }

      button {
        display         : flex;
        border          : none;
        background-color: transparent;
        padding         : 2px;
        font-size       : 20px;

        p {
          margin: 0;
        }

        .triangle {
          width       : 0;
          height      : 0;
          border-style: solid;
          border-width: 10px 8px 10px 8px;
          border-color: $black transparent transparent transparent;
          margin-top  : 9px;
          margin-left : 4px;
        }
      }

      .sorts {
        .dropdown-menu {
          position        : absolute;
          display         : flex;
          flex-direction  : row;
          border          : 3px solid $gray-first;
          border-radius   : 15px;
          padding         : 8px 20px;
          background-color: $white;
          list-style      : none;

          &.hide {
            position: absolute;
            display : none;
          }

          li {
            font-size    : 18px;
            margin-right : 20px;
            padding      : 6px;
            border-radius: 5px;
          }

          li:hover {
            background-color: $blue;
            color           : $black;
          }
        }
      }
    }
  }

  @include btn(button, forum, 150px, '%black', '%bg-yellow-first') {
    margin: auto;

    .fa-pencil {
      font-size: 19px;
    }
  }
}

.forum-content {
  margin-top: 3%;
}

.forum-card {
  width   : 23%;
  margin  :0 1% 10%;
  position: relative;
  .forum-avatar {
    position: absolute;
    @extend %flex;
    margin: -40px 0 0 20px;
    img {
      width        : 50%;
      border-radius: 50%;
      border       : 4px solid $gray-third;
    }
    span {
      margin        : 12px 0 0 8px;
      letter-spacing: 3px;
    }
  }
  .card-group {
    background-color: $white;
    border-radius   : $card-radius;
    img {
      width: 100%;
    }
    .card-sort {
      position        : absolute;
      top             : 10px;
      right           : 10px;
      background-color: $blue;
      border-radius   : 10px;
      padding         : 6px;
      color           : $white;

    }
    .card-content {
      padding: 18px;
      .card-topic {
        font-weight: $font-bold;
      }
    }
    .card-info {
      @extend %flex;
      @extend %flex-sb;
      .people-amount {
        @extend %flex;
        span {
          margin-bottom: 10px;
        }
        .fa-eye {
          margin: 2px 0 0 1px;
          color : $gray-first;
        }
      }
      .update-date span {
        margin-bottom: 10px;
      }
    }  
  }
  @include btn(button, forum-card, 100px, '%black', '%bg-yellow-first') {
    @extend %flex;
    margin   : auto;
    font-size: 16px;
  }
}

.forum-content {
  @extend %flex,
  %flex-w;
  margin-top: 10%;
}
.footer{

    display: flex;
    align-items: center;
    justify-content: center;
}