.scheme-l-hero {
    background-image   : url(../images/travel/taxi_B2.jpg);
    background-size    : cover;
    background-position: bottom;

    .title {
        position     : relative;
        width        : 100%;
        margin-bottom: $mar-cont;
        height       : 420px;

        &.container {
            @extend %border-box;
        }

        .item {
            position     : absolute;
            bottom       : 0;
            margin-bottom: 5%;
            left         : 60px;

            @include rwd_each(desktop) {
                left: auto;
            }

            &::before {
                content         : "";
                display         : inline-block;
                position        : absolute;
                left            : -18%;
                width           : 10px;
                height          : 80%;
                background-color: $yellow-first;
                margin-right    : 10px;
            }

            h2,
            p {
                color: $white;
            }

            p {
                margin-top: -20px;
                font-size : 27px;
            }
        }
    }

}

.filter-column {
    .container {
        margin-bottom: 0;

        .box {
            display         : none;
            background-color: $white;
            margin-bottom   : $text-text;


            @include rwd_each(desktop) {
                display      : flex;
                border-radius: $btn-radius;
            }

            .word-menu {
                @extend %border-box;
                width                : 100%;
                display              : grid;
                margin               : auto;
                grid-template-columns: repeat(2, 1fr);


                @include rwd_each(desktop) {
                    grid-template-columns: repeat(4, 1fr);
                }

                li {
                    display    : grid;
                    position   : relative;
                    align-items: center;
                    margin     : 0;
                    height     : 60px;
                    text-align : center;
                    cursor     : pointer;
                    overflow-y : hidden;

                    &.active {
                        background-color: $black;


                        span {
                            color: $white;
                        }
                    }

                    span {
                        font-size    : $font-h4;
                        margin-bottom: 0px;
                    }

                    @include rwd_each(desktop) {
                        font-size: $font-h4;
                    }



                    ul {
                        background-color: $white;
                        color           : $black;
                        position        : absolute;
                        top             : 0px;
                        visibility      : hidden;
                        left            : 0;
                        transition      : .5s;
                        height          : 120px;
                        width           : 100%;

                        li {
                            margin: 0;
                            height: 60px;
                            width : 100%;

                            &:hover {
                                background-color: $gray-third;
                            }
                        }
                    }

                    &:hover {
                        overflow-y: visible;

                        ul {
                            visibility: visible;
                            position  : absolute;
                            top       : 60px;
                        }
                    }
                }
            }
        }

        .mb-box {
            text-align   : center;
            margin-bottom: $text-text;
            overflow-y   : hidden;

            @include rwd_each(desktop) {
                display: none;
            }

            li {
                @extend %border-box;
                background-color: $black;
                padding         : 1rem;

                span {
                    color        : $white;
                    margin-bottom: 0;
                }

                &.mb-filter {
                    max-height      : 0;
                    width           : 100%;
                    padding         : 0;
                    background-color: white;
                    transition      : max-height .5s;
                    @extend %border-box;

                    li {
                        background-color: white;
                        color           : $black;
                        border-bottom   : 1px dashed black;

                        &:nth-of-type(5) {
                            border-bottom: none;
                        }

                        input {
                            margin-bottom: 0;
                        }
                    }

                    &.active {
                        max-height: 300px;
                        transition: max-height .5s;
                    }
                }
            }
        }
    }

}



.list-block {
    .card-item {
        display              : grid;
        grid-template-columns: 1fr;
        background-color     : $white;
        margin               : auto;
        margin-bottom        : $ele-ele;

        @include rwd_each(tablet) {
            grid-template-columns: 1fr 3fr;
        }


        .card-image {
            width: 100%;

            img {
                width : 100%;
                height: 100%;
            }
        }

        .text {
            @extend %border-box;
            width          : 100%;
            padding        : 30px 20px;
            display        : flex;
            flex-wrap      : wrap;
            justify-content: space-between;

            @include rwd_each(desktop) {
                padding: 30px;
            }

            a {
                text-decoration: none;
            }

            h3 {
                font-size: $font-h4;

                @include rwd_each(desktop) {
                    font-size: $font-h3;
                }
            }

            button {
                height          : 10%;
                font-size       : 28px;
                border          : 0;
                background-color: #fff;
                margin-left     : auto;

                .heart {
                    color: $gray-second;

                    &.active {
                        color: $error;
                    }
                }
            }

            .star {
                width: 100%;
            }

            .tag-group {
                display: flex;

                .tag {
                    background-color: #59c3e1;
                    margin          : 20px 20px 0 0;
                    padding         : 10px;
                    text-align      : center;
                    color           : $white;
                    font-size       : $font-base;
                }
            }


            .price {
                width     : 100%;
                text-align: right;
                margin    : 10px 10px;

                h4 {
                    margin-top   : $ele-ele;
                    margin-bottom: 0;
                    color        : $error;
                }
            }

        }
    }
}