.program-detail {
  @extend %border-box;

  .container {
    padding         : 0;
    background-color: $white;
  }

  .title {
    padding         : 10px;
    background-color: $black;
    margin-top      : $text-text;

    @include rwd_each(tablet) {
      display        : flex;
      justify-content: space-between;
    }


    h2 {
      color        : $white;
      margin-bottom: 0;
      font-weight  : $font-regular;
      font-size    : $font-h4;
      margin       : 15px 15px;
    }

    button {
      display    : flex;
      align-items: center;
      margin-left: auto;

      @include rwd_each(tablet) {
        margin-left: none;
      }

      span,
      i {
        color        : $white;
        padding      : 0 10px;
        margin-bottom: 0;
      }
    }
  }

  .info {
    display              : grid;
    grid-template-columns: 1fr;

    @include rwd_each(tablet) {
      grid-template-columns: 1fr 2fr;
    }

    img {
      width: 100%;
    }

    .detail {
      .item-group {
        background-color     : $gray-second;
        display              : grid;
        grid-template-columns: 1fr 4fr 3fr;

        .stroke {
          margin      : 10px 0;
          border-right: 2px $gray-first dotted;

          span {
            margin-bottom: 0;
            @extend %ta-center;
            color: $gray-first;
          }

          p {
            @extend %ta-center;
            margin-bottom: 0;
          }
        }

        .location-and-star {
          display        : flex;
          justify-content: space-around;
          align-items    : center;
          margin         : 10px 0;

          .location {
            @extend %ta-center;

            span {
              margin-bottom: 0;
              color        : $gray-first;
            }

            p {
              margin-bottom: 0;
            }
          }

          .star {
            i {
              color: $gray-first;

              &.active {
                color: $yellow-first;
              }
            }
          }
        }

        .price {
          display      : grid;
          align-content: center;
          margin       : 10px 0;

          span {
            margin-bottom: 0;
            color        : $gray-first;
          }

          p {
            margin-bottom: 0;
            margin       : auto;
          }
        }
      }

      .content {
        display              : grid;
        grid-template-columns: 1fr;
        margin               : $ele-ele;

        @include rwd_each(tablet) {
          grid-template-columns: 5fr 3fr;
        }

        span {
          color: $gray-first;
        }

        li {
          font-size    : $font-base;
          margin-bottom: 15px;

          i {
            color: $blue;
          }

          >* {
            padding-right: 5px;
          }
        }
      }

      .remarks {
        display: grid;

        .text {
          white-space: pre-line;
          text-align: left;
          line-height: 1.5em;
        }
        button {
          margin: auto;
        }

        button {
          font-weight: $font-bold;
        }
      }
    }
  }


}

.program-spot {
  .title {
    @extend %ta-center;
    padding         : $ele-ele 0;
    background-color: $black;
    color           : $white;
    font-weight     : $font-regular;
    margin          : 0;
  }

  .spot-group {
    padding         : 30px $ele-ele;
    background-color: $white;

    @include rwd_each(tablet) {
      padding: 100px $ele-ele;
    }

    .spot {
      display              : grid;
      grid-template-columns: 1fr;
      grid-template-areas  :
        'n'
        'i';
      gap: $ele-ele;

      @include rwd_each(tablet) {
        justify-items        : center;
        grid-template-columns: 1fr 5fr 3fr;
        grid-template-areas  : 'o n i';
      }


      .order {
        display         : none;
        position        : relative;
        width           : 50px;
        height          : 50px;
        background-color: $blue;
        border-radius   : 50%;
        grid-area       : o;

        @include rwd_each(tablet) {
          display: block;
        }

        p {
          position : absolute;
          top      : 50%;
          left     : 50%;
          transform: translate(-50%, -50%);
          font-size: $font-h4;
          color    : $white;
        }
      }

      .spot-info {
        grid-area: n;

        @include rwd_each(tablet) {
          width: 80%;
        }

        .spot-title {
          text-align: center;

          @include rwd_each(tablet) {
            grid-template-columns: 5fr 3fr;
          }
        }
      }


      .spot-img {
        width        : 100%;
        margin       : auto;
        display      : grid;
        margin-bottom: $text-text;
        grid-area    : i;
        grid-template-areas:
          "f f"
          "f f"
          "s t";

        @include rwd_each(tablet) {
          width: 80%;
        }

        .img-f {
          width    : 100%;
          grid-area: f;
        }

        .img-s {
          width    : 100%;
          grid-area: s;
        }

        .img-t {
          width    : 100%;
          grid-area: t;
        }
      }
    }
  }
}