.scheme-l-hero {
    background-image   : url(../images/travel/taxi_B2.jpg);
    background-size    : cover;
    background-position: bottom;

    .title {
        position     : relative;
        width        : 100%;
        margin-bottom: $mar-cont;
        height       : 420px;

        &.container {
            @extend %border-box;
        }

        .item {
            position     : absolute;
            bottom       : 0;
            margin-bottom: 5%;
            left         : 60px;

            @include rwd_each(desktop) {
                left: auto;
            }

            &::before {
                content         : "";
                display         : inline-block;
                position        : absolute;
                left            : -18%;
                width           : 10px;
                height          : 80%;
                background-color: $yellow-first;
                margin-right    : 10px;
            }

            h2,
            p {
                color: $white;
            }

            p {
                margin-top: -20px;
                font-size : 27px;
            }
        }
    }

}

.filter-column {
    .container {
        margin-bottom: 0;

        .box {
            display         : flex;
            background-color: $white;
            margin-bottom   : $text-text;
            border-radius   : $btn-radius;
            overflow        : hidden;

            .word-menu {
                @extend %border-box;
                width                : 100%;
                display              : grid;
                margin               : auto;
                grid-template-columns: repeat(2, 1fr);


                @include rwd_each(desktop) {
                    grid-template-columns: repeat(4, 1fr);
                }

                li {
                    padding   : 1.5rem;
                    display   : grid;
                    margin    : 0;
                    font-size : $font-base;
                    height    : 25px;
                    cursor    : pointer;
                    overflow-y: hidden;

                    @include rwd_each(desktop) {
                        margin   : 0 30px;
                        font-size: $font-h4;
                    }

                    &.active {
                        background-color: $black;
                        color           : $white;
                    }

                    ul {

                        li {
                            display  : none;
                            transform: translateY(-300px);
                            width    : 200px;
                            margin   : 0;
                            padding  : $ele-ele 0 0;
                        }
                    }

                    &:hover {
                        height: auto;

                        ul {
                            li {
                                display  : block;
                                transform: translateY(0px);
                            }
                        }
                    }
                }

                .dropdown {
                    display: none;
                }
            }
        }
    }
}

.list-block {
    .card-item {
        display              : grid;
        grid-template-columns: 1fr;
        background-color     : $white;
        margin               : auto;
        margin-bottom        : $ele-ele;

        @include rwd_each(tablet) {
            grid-template-columns: 1fr 3fr;
        }


        .card-image {
            width: 100%;

            img {
                width : 100%;
                height: 100%;
            }
        }

        .text {
            @extend %border-box;
            width          : 100%;
            padding        : 30px 20px;
            display        : flex;
            flex-wrap      : wrap;
            justify-content: space-between;

            @include rwd_each(desktop) {
                padding: 30px;

            }

            a {
                text-decoration: none;
            }


            button {
                height          : 10%;
                font-size       : 28px;
                border          : 0;
                background-color: #fff;
                margin-left     : auto;

                .heart {
                    color: $gray-second;

                    &.active {
                        color: $error;
                    }
                }
            }

            .star {
                width: 100%;
            }

            .tag-group {
                display: flex;

                .tag {
                    background-color: #59c3e1;
                    margin          : 20px 20px 0 0;
                    padding         : 10px;
                    text-align      : center;
                    color           : $white;
                    font-size       : $font-base;
                }
            }


            .price {
                width     : 100%;
                text-align: right;
                margin    : 10px 10px;

                h4 {
                    color: $error;
                }
            }

        }
    }
}