a{
  text-decoration: none;
}
//無障礙服務選擇器 service-selector
#service-selector {
  display: flex;  
  justify-content: center;
  margin: auto;
  text-align: center;

  .selector-btn {
    font-size: $font-base;
    width: 90px;
    height: 90px;
    padding: 25px;
    margin: 5px 5px 15px 5px;
    text-align: center;
    border: 1px solid $gray-first;
    border-radius: 10px;
    background-color: #fff;
    @include  rwd_each(tablet) {
      width: 120px;
      height: 45px;
      margin: 10px;
      padding: 10px;
      font-size: $font-base;
    }
  }
  .selector-btn:hover {
    color: #fff;
    background-color: $black;
    cursor: pointer;
  }
  .chosen {
    color: #fff;
    background-color: $black;
    cursor: pointer;
  }
}
.service-btn {
  display: block;
  padding-bottom: 20px;
  .btn-main{
    margin: 20px auto;
    display: block;
  }
  @include  rwd_each(desktop) {
    width: 400px;
    padding-bottom: 60px;
    margin: auto;
    display: flex;
  }

}
//服務介紹
.service-detail {
  background-color: #fff;
  border-radius: 10px;
  margin: auto;
  width: 375px;
  @include rwd_each(tablet) {
    width: 596px;
    h4{
      font-size: $font-h3;
    }
  }
  @include  rwd_each(desktop) {
    margin: auto;
    width: 1200px;
  }
  .service-wrap {
    display: flex;
    margin: auto;
    .service-context {
      margin: 50px 20px;
    }
    .service-pic img {
      width: 350px;
      display: none;
      @include  rwd_each(desktop) {
        display: flex;
      }
    }
  }
}
//車種介紹
#car-content {
  display: none;
  padding: 0px;
  .carSlider{
    justify-content: center;
    display: flex;
    margin-top: 30px;
    @include  rwd_each(desktop) {
      display: none;
    }
    .nar{
      width: 25px;
      margin: auto;
    }
    .nar:hover{
      @extend %cursor-hand;
    }
    #carImage{
      li{
        width: 300px;
        height: 150px;
        margin: 0px 10px;
        img{
          width: 100%;
        }
      }
    }
  }
}
#car-wrap {
  display: block;
  margin: auto;
  @include  rwd_each(desktop) {
    display: flex;
    justify-content: space-between;
  }
  .pic-wrap {
    #bigPic{
      display: none;
      @include  rwd_each(desktop) {
        width: 530px;
        height: 300px;
        margin: auto;
        display: block;
      }
      img{
        width: 100%;
        position: relative;
        bottom: -30px;
      }
    }
    #car-shadow{
      display: none;
      @include  rwd_each(tablet) {
        display: block;
        width: 530px;
        height: 51px;
        background-color: $gray-first;
        border-radius: 50%;
      }
    }
    .small-wrap {
      display: none;
      justify-content: center;
      @include  rwd_each(desktop) {
        display: flex;
      }
      .smallPic {
        width: 125px;
        padding: 25px 10px;
        margin: 5px;
        border-radius: 5px;
        background-color: #fff;
        @extend %cursor-hand;
        img {
          width: 100%;
        }
      }
      .smallPic:hover {
        border: 2px solid $black;
      }
      .chosen {
        border: 2px solid $black;        
      }
    }
  }
  .carContext{
    width: 375px;
    height: 500px;
    padding: 35px;
    margin: auto;
    background-color: #fff;
    border-radius: 10px;
    .service-btn{
      @include  rwd_each(desktop) {
        justify-content: space-between;
      }
      .btn-main{
        margin: auto;
      }
    }
    @include  rwd_each(tablet) {
      display: block;
      width: 500px;
      height: 400px;
      margin-top: 25px;
    }
    @include  rwd_each(desktop) {
      height: 375px;
    }
    p{
      margin: 10px 0px;
      height: 180px;
      @include  rwd_each(tablet) {
        height: 130px;
      }
    }    
  }
}
//司機介紹
#driver-content {
  display: none;
  width: 50%;
  // border: 1px solid #ccc;
  #sliderWrap{
    margin: auto;
    text-align: center;
    display: flex;
    .nar{
      color: black;
      margin: auto;
      @extend %cursor-hand;
      width: 50px;
    }
    #sliderBoard{
      // border: 1px solid #ccc;
      height: 550px;
      overflow: hidden;
      display: flex;
      #driverSlider{	
        position: relative;
        display: flex;
      }
      #driverSlider ul{
        float: left;
      }
      .image{
        margin: 25px 0px;
        ul{
          width: 770px;
          list-style: none;
          display: flex;
          flex-wrap: wrap;
        }
        li{
          width: 180px;
          margin: 10px 20px;
          text-align: center;
          @extend %cursor-hand;
          span{
            width: 150px;
            padding: 5px 10px;
            margin: auto;
            color: white;
            background-color: $black;
            border-radius: 5px;
            position: relative;
            top: -15px;
          }
        }
        img{
          border-radius: 10px;
          width: 100%;
        }
        img:hover{
          border: 3px solid $black;
        }
      }
    }
  }
}
//司機燈箱
#driverLightBox{
  position: fixed;
  z-index: 1001;
  width: 100%;
  height: 100%;
  background: rgba(66,66,66,.6);
  .driverContent{
    width: 750px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 10px;
    position: relative;
    .closeIcon{
      position: absolute;
      top: 0px;
      right: 0px;
      margin-left: auto;
      border: 1px solid #ccc;
      @extend %cursor-hand;
    }
    .driverDetail{
      justify-content: space-between;
      padding: 40px;
      display: flex;
      .driverDescribe{
        vertical-align: top;
         width: 50%;
        span{
          font-weight: $font-bold;
        }
      }
      .driverPic{
        width: 300px;
        img{
          width: 100%;
        }
      }
    }
    .driverCar::before{
      content: "";
      background-color: #313131;
      width: 650px;
      height: 5px;
      display: block;
      margin: auto;
    }
    .driverCar{
      justify-content: space-between;
      padding: 0px 40px 40px 40px;
      .carPic{
        width: 250px;
        margin: 25px;
        display: inline-block;
        img{
          width: 100%;
        }
      }
      .carDescribe{
        display: inline-block;
        margin-left: 60px;
        span{
          font-size: $font-base;
          font-weight: $font-bold;
        }
        li{
          line-height: 1.5;
        }
      }
    }
  }
}
