.spot-l-hero {
    .title {
        position           : relative;
        width              : 100%;
        margin-bottom      : $mar-cont;
        height             : calc(100vh - 180px);
        background-position: bottom;
        background-image   : url(../images/travel/taxi_B3.jpg);
        background-size    : cover;
        margin-bottom      : 150px;

        h2 {
            position: absolute;
            bottom  : 0;
            left    : 18%;
            color   : $white;
        }
    }

}

.spot-list {
    h2 {
        @extend %ta-center;
    }

    .word-menu {
        width                : 100%;
        display              : grid;
        grid-template-columns: repeat(2, 1fr);
        @extend %ta-center;

        @include rwd_each(desktop) {
            grid-template-columns: repeat(4, 1fr);
        }

        li {
            padding         : 1rem 0;
            background-color: $gray-second;
            font-size       : 20px;
            position        : relative;
            overflow        : hidden;
            transition      : .5s;
            font-weight     : $font-bold;
            @extend %cursor-hand;

            &.active {
                background-color: $black;
                color           : $white;
            }

            &:not(.active):hover {
                background-color: $gray-first;

                &:hover {
                    color: $white;
                }
            }
        }
    }

    .card-item {
        display              : grid;
        gap                  : $ele-ele;
        margin-top           : 50px;
        grid-template-columns: 1fr;

        @include rwd_each(tablet) {
            grid-template-columns: repeat(2, 1fr);
        }

        @include rwd_each(desktop) {
            grid-template-columns: repeat(4, 1fr);
        }

        .item {
            border-radius: $card-radius;
            overflow     : hidden;
            @extend %bg-white;

            .pic {
                width   : 100%;
                overflow: hidden;

                img {
                    width     : 100%;
                    transform : scale(1);
                    transition: .5s;

                    &:hover {
                        transform: scale(1.2);
                    }
                }

            }

            .title {
                @extend %flex,
                %flex-sb;

                a {
                    margin         : 15px;
                    color          : $black;
                    font-weight    : $font-bold;
                    text-decoration: none;

                    &:hover {
                        color: $blue;
                    }
                }

                span {
                    width           : 68px;
                    display         : flex;
                    align-items     : center;
                    justify-content : center;
                    background-color: $blue;
                    border-radius   : $page-radius;
                    margin          : 8px 15px;
                    @extend %white;
                }
            }

            .intro {
                margin     : 15px;
                line-height: 1.5;
                color      : $black;
            }
        }
    }
}