.travel-hero {
  background-position: bottom;
  background-image   : url(../images/travel/taxi_B1.jpg);
  background-size    : cover;

  .title {
    position     : relative;
    width        : 100%;
    margin-bottom: $mar-cont;
    height       : 420px;

    &.container {
      @extend %border-box;
    }


    .item {
      position     : absolute;
      bottom       : 0;
      margin-bottom: 5%;
      left         : 60px;

      @include rwd_each(desktop) {
        left: auto;
      }

      &::before {
        content         : "";
        display         : inline-block;
        position        : absolute;
        left            : -14%;
        width           : 10px;
        height          : 80%;
        background-color: $yellow-first;
        margin-right    : 10px;
      }

      h2,
      p {
        color: $white;
      }

      p {
        margin-top: -20px;
        font-size : 27px;
      }
    }
  }
}

.travel-program {
  @extend %border-box;

  .title {
    align-items: flex-end;
    @extend %flex,
    %flex-sb;
    margin-bottom: $text-text;

    h2 {
      margin-bottom: 0;
    }

    a {
      padding-bottom : 2px;
      text-decoration: none;
    }
  }

  .program-group {
    display              : grid;
    grid-template-columns: 1fr;
    gap                  : $ele-ele;

    @include rwd_each(desktop) {
      grid-template-columns: repeat(2, 1fr);
    }

    .main-program {
      position     : relative;
      border-radius: $card-radius;
      overflow     : hidden;

      img {
        width : 100%;
        height: 100%;
      }

      .intro {
        position        : absolute;
        bottom          : 0;
        left            : 0;
        right           : 0;
        background-color: rgba(49, 49, 49, .8);
        padding         : 15px 0;

        a {
          text-decoration: none;
          display        : block;
          font-size      : $font-base;
          font-weight    : $font-medium;
          text-align     : center;

          &:hover {
            color: $blue;
          }

          @include rwd_each(desktop) {
            margin-left  : 30px;
            margin-bottom: 30px;
            font-size    : $font-h4;
            text-align   : left;
          }
        }


        p {
          display    : none;
          margin     : 0 30px;
          font-weight: $font-light;

          @include rwd_each(desktop) {
            display: inline;
          }
        }

        a,
        p {
          color: $white;
        }
      }
    }

    .programs {
      display              : grid;
      grid-template-columns: 1fr;
      gap                  : $ele-ele;

      @include rwd_each(tablet) {
        grid-template-columns: repeat(2, 1fr);
      }

      @include rwd_each(desktop) {
        grid-template-columns: repeat(2, 1fr);
      }

      .sub-program {
        position     : relative;
        border-radius: $card-radius;
        overflow     : hidden;

        img {
          width : 100%;
          height: 100%;
        }

        .intro {
          position        : absolute;
          bottom          : 0;
          background-color: rgba(49, 49, 49, .8);
          left            : 0;
          right           : 0;
          padding         : 15px 0;
          @extend %ta-center;

          a {
            width          : 100%;
            text-decoration: none;
            display        : block;
            color          : $white;
            margin-bottom  : 0;
            font-size      : $font-base;

            &:hover {
              color: $blue;
            }

            @include rwd_each(desktop) {
              font-size  : $font-h4;
              font-weight: $font-medium;
            }
          }
        }
      }
    }

  }
}

.travel-spot {
  @extend %border-box;

  .title {
    align-items: flex-end;
    @extend %flex,
    %flex-sb;
    margin-bottom: $text-text;

    h2 {
      margin-bottom: 0;
    }

    a {
      padding-bottom : 2px;
      text-decoration: none;
    }
  }

  .plural-spot {
    display: grid;
    gap    : $ele-ele;

    .main-spot {
      position     : relative;
      border-radius: $card-radius;
      overflow     : hidden;
      height       : 300px;

      @include rwd_each(desktop) {
        height: auto;
      }

      img {
        object-fit: cover;
        width     : 100%;
        height    : 100%;
      }

      .intro {
        @extend %border-box;
        position: absolute;
        bottom  : 3px;
        padding : 0 40px;
        width   : 100%;

        a,
        p {
          color: $white;
        }

        p {
          display    : none;
          font-weight: $font-light;

          @include rwd_each(desktop) {
            display: block;
          }
        }


        a {
          display        : block;
          text-decoration: none;
          font-size      : $font-base;
          font-weight    : $font-medium;
          text-align     : center;
          margin-right: 0;
          margin-bottom: 10px;
          &:hover {
            color: $blue;
          }
          
          @include rwd_each(tablet) {
            margin-bottom  : 30px;
            text-align: left;
            font-size: $font-h4;
          }
          
          @include rwd_each(desktop) {
            text-align: left;
            font-size: $font-h4;
          }
        }
      }
    }

    .spots {
      display              : grid;
      grid-template-columns: 1fr;
      gap                  : $ele-ele;

      @include rwd_each(tablet) {
        grid-template-columns: repeat(2, 1fr);
      }

      @include rwd_each(desktop) {
        grid-template-columns: repeat(4, 1fr);
      }

      .sub-spot {
        position     : relative;
        border-radius: $card-radius;
        overflow     : hidden;

        img {
          width: 100%;
        }

        .intro {
          display : block;
          position: absolute;
          bottom  : 0;
          left    : 0;
          right   : 0;
          @extend %ta-center;


          a {
            width          : 100%;
            text-decoration: none;
            display        : block;

            font-size       : $font-base;
            color           : $white;
            margin-bottom   : 0;
            padding         : 10px 0;
            background-color: rgba(49, 49, 49, .8);
            font-weight     : $font-medium;

            &:hover {
              color: $blue;
            }

            @include rwd_each(tablet) {
              font-size: $font-h4;
            }

            @include rwd_each(desktop) {
              font-size: $font-h4;
            }

          }
        }
      }
    }
  }
}