.subscriber-information {

  h3 {
    margin-top: $text-text;
  }

  .box {
    background-color: $gray-second;
    padding         : 5%;
    margin-top      : $text-text;

    .input-box-one {
      width        : 100%;
      margin-bottom: $text-text;
    }

    .input-box-two {
      display              : grid;
      grid-template-columns: repeat(1, 1fr);
      grid-column-gap      : 8%;

      @include rwd_each(desktop) {
        grid-template-columns: repeat(2, 1fr);
      }

      .item {
        width: 100%;
      }
    }
  }
}

.order-itinerary-information {
  h3 {
    margin-top: $text-text;
  }

  .box {
    background-color     : $gray-second;
    padding              : 5%;
    margin-top           : $text-text;
    display              : grid;
    grid-template-columns: 1fr;
    grid-column-gap      : 8%;

    @include rwd_each(desktop) {
      grid-template-columns: repeat(2, 1fr);
    }

    .item {

      span {
        display: inline;

        @include rwd_each(desktop) {
          display: block;
        }
      }

      &:nth-child(2) {
        margin: auto;
      }

      &:nth-child(3) {
        display    : flex;
        align-items: center;
        margin     : auto;

        @include rwd_each(desktop) {
          margin: 0;
        }

        button {
          font-size: $font-h4;
        }

        .def {
          display: block;
          margin : 0 .5rem 0 0;
        }

        #people_num {
          text-align: center;
          width     : 30px;
          height    : 30px;
        }

        #subtraction,
        #add {
          font-size : $font-h4;
          background: none;
          border    : none;
          cursor    : pointer;
        }

      }

      &:nth-child(4) {
        margin: 15px auto;

        @include rwd_each(desktop) {
          margin: auto;
        }
      }

    }




  }
}

.remarks-block {

  h3 {
    margin-top: $text-text;
  }

  textarea {
    @extend %border-box;
    width    : 100%;
    padding  : $ele-ele;
    font-size: $font-h4;
  }

}

.voucher-block {

  h3 {
    margin-top: $text-text;
  }

  .box {
    background-color: $gray-second;
    padding         : 5%;
    margin-top      : $text-text;

  }

  .btn-main {
    float     : right;
    margin-top: $text-text;
  }
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin            : 0;
}