.subscriber-information {

  h3 {
    margin-top: $text-text;
  }

  .box {
    background-color: $gray-second;
    padding: 5%;
    margin-top: $text-text;
    
  }
}

.order-itinerary-information {

  h3 {
    margin-top: $text-text;
  }

  .box {
    background-color: $gray-second;
    padding: 5%;
    margin-top: $text-text;
    
  }
}

.remarks {

  h3 {
    margin-top: $text-text;
  }

  textarea {
    @extend %border-box;
    width: 100%;
    padding: $ele-ele;
    font-size: $font-h4;
  }

}

.voucher {

  h3 {
    margin-top: $text-text;
  }

  .box {
    background-color: $gray-second;
    padding: 5%;
    margin-top: $text-text;
    
  }
}