.header a {
  color: #ff0000;
}

.header {
  width: 50px;
  height: 50px;
  background: #000;
  font-size: 16px;
}
.header ul {
  width: 500px;
}
.header li {
  height: 30px;
}
.header li a {
  color: #000;
}

.box {
  width: 50px;
  height: 50px;
  background: #000;
}
.box ul {
  width: 500px;
}
.box li {
  height: 30px;
}
.box li a {
  color: #000;
}