<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>新增方案</title>

    <!-- Bootstrap Core CSS -->
    <link href="../css/bootstrap.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="../css/metisMenuMin.css" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="../css/timeline.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../css/startmin.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="../css/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>

</head>

<body>

    <div id="wrapper">
        @@include('../layout/adminSideBar.html')
        <div id="app">
            <!-- Page Content -->
            <div id="page-wrapper">
                <div class="container-fluid">
                    <div class="container-lg">
                        <div class="table-responsive">
                            <div class="table-wrapper">
                                <div class="table-title">
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <h2>新增方案</h2>
                                        </div>
                                    </div>
                                </div>
                                <form action="../php/insertProgram.php" method="POST" enctype="multipart/form-data">
                                    <div class="form-group">
                                        <label for="name">方案名稱</label>
                                        <input class="form-control" id="name" name="program_name" type="text">
                                    </div>
                                    <div class="form-group">
                                        <label for="car">車種</label>
                                        <select class="form-control" id="car" name="car_no">
                                            <option :value="item.CAR_NO" v-for="item in carInfo" :key=item.CAR_NO>
                                                {{item.CAR_TYPE}}</option>
                                        </select>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="program_status"
                                            id="statusClose" value="0" checked>
                                        <label class="form-check-label" for="statusClose">
                                            方案列表狀態關閉
                                        </label>
                                        <input class="form-check-input" type="radio" name="program_status"
                                            id="statusOpen" value="1">
                                        <label class="form-check-label" for="statusOpen">
                                            方案列表狀態開啟
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="program_status_s"
                                            id="statusClose" value="0" checked>
                                        <label class="form-check-label" for="statusClose">
                                            精選方案狀態關閉
                                        </label>
                                        <input class="form-check-input" type="radio" name="program_status_s"
                                            id="statusOpen" value="1">
                                        <label class="form-check-label" for="statusOpen">
                                            精選方案狀態開啟
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="program_status_s_m"
                                            id="statusSClose" value="0" checked>
                                        <label class="form-check-label" for="statusSClose">
                                            主要精選方案狀態關閉
                                        </label>
                                        <input class="form-check-input" type="radio" name="program_status_s_m"
                                            id="statusSOpen" value="1">
                                        <label class="form-check-label" for="statusSOpen">
                                            主要精選方案狀態開啟
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <label for="rating">方案評價</label>
                                        <input class="form-control" id="rating" name="program_rating" type="text">
                                    </div>
                                    <div class="form-group">
                                        <label for="pic" class="form-label">方案圖片</label>
                                        <input class="form-control" type="file" name="program_pic" id="pic">
                                    </div>
                                    <div class="form-group">
                                        <label for="feature">方案特色一</label>
                                        <input class="form-control" id="feature" name="program_feature_1" type="text">
                                    </div>
                                    <div class="form-group">
                                        <label for="feature2">方案特色二</label>
                                        <input class="form-control" id="feature2" name="program_feature_2" type="text">
                                    </div>
                                    <div class="form-group">
                                        <label for="feature3">方案特色三</label>
                                        <input class="form-control" id="feature3" name="program_feature_3" type="text">
                                    </div>
                                    <div class="form-group">
                                        <label for="remarks">方案備註</label>
                                        <textarea class="form-control" id="remarks" name="program_remarks"
                                            rows="3"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="price">方案金額</label>
                                        <input class="form-control" id="price" name="program_price" type="text">
                                    </div>
                                    <div class="form-group" v-for="n in spotNum" :key="n.id">
                                        <label :for="'spot'+n">景點</label>
                                        <div style="display: flex;">
                                            <select class="form-control" :id="'spot'+n" name="spot[]">
                                                <option :value="item.SPOT_NO" v-for="item in spotInfo"
                                                    :key=item.SPOT_NO>
                                                    {{item.SPOT_NAME}}</option>
                                            </select>
                                            <input type="button" @click='subtractSpot' value="-"></input>
                                            <input type="button" @click='addSpot' value="+"></input>
                                        </div>
                                    </div>
                                    <div class="btn-group" style="display:flex ;justify-content:flex-end">
                                        <button type="submit" class="btn btn-success">新增完成</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="../js/jqueryMin.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../js/bootstrapMin.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../js/metisMenuMin.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../js/startmin.js"></script>
    <script src="../js/adminProgram.js"></script>
</body>

</html>