<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>司機個人排班表</title>

  <!-- Bootstrap Core CSS -->
  <link href="../css/bootstrap.css" rel="stylesheet">

  <!-- MetisMenu CSS -->
  <link href="../css/metisMenuMin.css" rel="stylesheet">

  <!-- Timeline CSS -->
  <link href="../css/timeline.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="../css/startmin.css" rel="stylesheet">

  <!-- Morris Charts CSS -->
  <link href="../css/morris.css" rel="stylesheet">

  <!-- Custom Fonts -->
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>

<body>
  <div id="wrapper">
    @@include('../layout/adminSideBar.html')
    <!-- Page Content -->
    <div id="page-wrapper">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <h2 class="page-header">司機個人排班表</h2>
          </div>
        </div>

        <div id="app">
          <div class="row">
            <div class="col-lg-12">
              <form role="form" action="../php/updateDriverRoster.php" method="POST">
                <div class="form-group">
                  <label>司機姓名：{{driverRoster[whref-1].DRIVER_NAME}}</label>
                </div>
                <table class="table table-bordered">
                  <p>每位月休46時段</p>
                  <thead>
                    <tr>
                      <th>日期</th>
                      <th>時段</th>
                      <th>上班/休假</th>
                    </tr>
                  </thead>
                  <tbody v-for="(driverInfo,index) in driverRoster" v-if="index%11==(whref-1)">
                    <tr>
                      <td>{{driverInfo.BOOKING_DATE}}</td>
                      <td>早上</td>
                      <td>
                        <select class="form-control" :name="driverInfo.SCH_NO+'_0'">
                          <option :value="driverInfo.BOOKING_MORNING == 1? 1 :0">{{driverInfo.BOOKING_MORNING == 1? "上班"
                            :"休假"}}</option>
                          <option :value="driverInfo.BOOKING_MORNING == 1? 0 :1">{{driverInfo.BOOKING_MORNING == 1? "休假"
                            :"上班"}}</option>
                        </select>
                      </td>
                    </tr>
                    <tr>
                      <td>{{driverInfo.BOOKING_DATE}}</td>
                      <td>下午</td>
                      <td>
                        <select class="form-control" :name="driverInfo.SCH_NO+'_1'">
                          <option :value="driverInfo.BOOKING_AFTERNOON == 1? 1 :0">{{driverInfo.BOOKING_AFTERNOON == 1? "上班"
                            :"休假"}}</option>
                          <option :value="driverInfo.BOOKING_AFTERNOON == 1? 0 :1">{{driverInfo.BOOKING_AFTERNOON == 1? "休假"
                            :"上班"}}</option>
                        </select>
                      </td>
                    </tr>
                    <tr>
                      <td>{{driverInfo.BOOKING_DATE}}</td>
                      <td>晚上</td>
                      <td>
                        <select class="form-control" :name="driverInfo.SCH_NO+'_2'">
                          <option :value="driverInfo.BOOKING_EVENING == 1? 1 :0">{{driverInfo.BOOKING_EVENING == 1? "上班"
                            :"休假"}}</option>
                          <option :value="driverInfo.BOOKING_EVENING == 1? 0 :1">{{driverInfo.BOOKING_EVENING == 1? "休假"
                            :"上班"}}</option>
                        </select>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <button type="submit" class="btn btn-success">完成</button>
                <button type="reset" class="btn btn-default" @click="backToTable">取消</button>
              </form>
            </div>
          </div>
        </div>
        <br>
      </div>
    </div>


    <!-- Bootstrap Core JavaScript -->
    <script src="../js/bootstrapMin.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../js/metisMenuMin.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../js/startmin.js"></script>
    <script src="../js/adminDriverRoster.js"></script>
</body>

</html>