<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>旅遊訂單管理</title>

    <!-- Bootstrap Core CSS -->
    <link href="../css/bootstrap.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="../css/metisMenuMin.css" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="../css/timeline.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../css/startmin.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="../css/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="icon" href="../images/favicon.png">
</head>

<body>

    <div id="wrapper">
        @@include('../layout/adminSideBar.html')
        <!-- Page Content -->
        <div id="app" v-cloak>
            <div id="page-wrapper">
                <div class="container-fluid">
                    <div class="container-lg">
                        <div class="table-responsive">
                            <div class="table-wrapper">
                                <div class="table-title">
                                    <div class="row">
                                        <div class="col-sm-8"> </div>
                                    </div>
                                </div>

                                <div class="panel tabbed-panel panel-default">
                                    <div class="panel-heading clearfix">
                                        <div class="panel-title pull-left">訂單管理</div>
                                        <div class="pull-right">
                                            <ul class="nav nav-tabs">
                                                <li class="active"><a href="#tab-default-1" data-toggle="tab"
                                                        aria-expanded="false">審核中</a></li>
                                                <li class=""><a href="#tab-default-2" data-toggle="tab"
                                                        aria-expanded="false">未通過</a></li>
                                                <li class=""><a href="#tab-default-3" data-toggle="tab"
                                                        aria-expanded="true">待付款</a></li>
                                                <li class=""><a href="#tab-default-5" data-toggle="tab"
                                                        aria-expanded="true">已付款</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="tab-content">
                                            <div class="tab-pane fade active in" id="tab-default-1">
                                                <div class="panel-group" id="accordion">
                                                    <h4>審核中</h4>
                                                    <div class="panel panel-primary"
                                                        v-for="info in info.filter(item=>item.ORDER_STATUS == 0)"
                                                        :key="info.ORDER_NO">
                                                        <div class="panel-heading"
                                                            style="display: grid ; grid-template-columns:2fr repeat(3,5fr) 1fr 1fr;"
                                                            v-if="info.TOTAL_PRICE>0">
                                                            <h4 class="panel-title">
                                                                <a data-toggle="collapse" data-parent="#accordion"
                                                                    :href="'#' + info.ORDER_NO + info.ORDER_STATUS"
                                                                    aria-expanded="false" class="collapsed"
                                                                    style="color: #59c3e1;">{{info.ORDER_NO}}</a>
                                                            </h4>
                                                            <p style="margin: 0;color: #59c3e1;" >
                                                                訂購人姓名:{{info.ORDER_L_NAME}}{{info.ORDER_F_NAME}}</p>
                                                            <p style="margin: 0; color: #59c3e1;" >
                                                                {{info.PROGRAM_NAME}}</p>
                                                            <p style="margin: 0; color: #59c3e1;">
                                                                {{info.UPDATED_AT}}</p>
                                                            <select :id="'status_' + info.ORDER_NO"
                                                                v-model='info.ORDER_STATUS' @change='changeStatus'>
                                                                <option value="0">審核中 </option>
                                                                <option value="1">未通過 </option>
                                                                <option value="2">待付款 </option>
                                                            </select>
                                                            <div style="justify-content:flex-end;display:flex">
                                                                <a class="edit"
                                                                    style="color: #ffc107; font-size: 19px; margin-right: 10px;"
                                                                    title="Edit" data-toggle="tooltip"
                                                                    :href="'./adminUpdateTravelOrder.html?order_no=' + info.ORDER_NO"><i
                                                                        class="fas fa-edit"></i></a>
                                                            </div>
                                                        </div>
                                                        <div class="panel-heading"
                                                            style="display: grid ; grid-template-columns:2fr repeat(3,5fr) 1fr 1fr;"
                                                            v-else>
                                                            <h4 class="panel-title">
                                                                <a data-toggle="collapse" data-parent="#accordion"
                                                                    :href="'#' + info.ORDER_NO + info.ORDER_STATUS"
                                                                    aria-expanded="false"
                                                                    class="collapsed">{{info.ORDER_NO}}</a>
                                                            </h4>
                                                            <p style="margin: 0;">
                                                                訂購人姓名:{{info.ORDER_L_NAME}}{{info.ORDER_F_NAME}}</p>
                                                            <p style="margin: 0;">{{info.PROGRAM_NAME}}</p>
                                                            <p style="margin: 0;">{{info.UPDATED_AT}}</p>
                                                            <select :id="'status_' + info.ORDER_NO"
                                                                v-model='info.ORDER_STATUS' @change='changeStatus'>
                                                                <option value="0">審核中 </option>
                                                                <option value="1">未通過 </option>
                                                                <option value="2">待付款 </option>
                                                            </select>
                                                            <div style="justify-content:flex-end;display:flex">
                                                                <a class="edit"
                                                                    style="color: #ffc107; font-size: 19px; margin-right: 10px;"
                                                                    title="Edit" data-toggle="tooltip"
                                                                    :href="'./adminUpdateTravelOrder.html?order_no=' + info.ORDER_NO"><i
                                                                        class="fas fa-edit"></i></a>
                                                            </div>
                                                        </div>
                                                        <div :id="info.ORDER_NO  + info.ORDER_STATUS"
                                                            class="panel-collapse collapse" aria-expanded="false"
                                                            style="height: 0px;">
                                                            <div class="panel-body" style="margin: 0 6%; border: none;">
                                                                <ul style=" overflow-x: auto;">
                                                                    <li class="list-unstyled" style="margin-top: 20px;">
                                                                        <p>會員編號 : {{info.MEM_NO}}</p>
                                                                    </li>
                                                                    <li class="list-unstyled" style="margin-top: 20px;">
                                                                        <p>訂購人姓 : {{info.ORDER_L_NAME}}</p>
                                                                    </li>
                                                                    <li class="list-unstyled" style="margin-top: 20px;">
                                                                        <p>訂購人名 : {{info.ORDER_F_NAME}}</p>
                                                                    </li>
                                                                    <li class="list-unstyled"
                                                                        style="line-height: 2em; margin-top: 20px;">
                                                                        <p>訂購人電話 : {{info.ORDER_PHONE}}</p>
                                                                    </li>
                                                                    <li class="list-unstyled"
                                                                        style="line-height: 2em; margin-top: 20px;">
                                                                        <p>訂購人e-mail : {{info.ORDER_EMAIL}}</p>
                                                                    </li>
                                                                    <li class="list-unstyled"
                                                                        style="line-height: 2em; margin-top: 20px;">
                                                                        <p>訂購人地址 : {{info.ORDER_ADD}}</p>
                                                                    </li>
                                                                    <li class="list-unstyled"
                                                                        style="line-height: 2em; margin-top: 20px;">
                                                                        <p>接送地點 : {{info.PICK_UP_PLACE}}</p>
                                                                    </li>
                                                                    <li class="list-unstyled"
                                                                        style="line-height: 2em; margin-top: 20px;">
                                                                        <p>車號 : {{info.CAR_TYPE}}</p>
                                                                    </li>
                                                                    <li class="list-unstyled"
                                                                        style="line-height: 2em; margin-top: 20px;">
                                                                        <p>人數 : {{info.NUMBER_OF_PEOPLE}}</p>
                                                                    </li>
                                                                    <li class="list-unstyled"
                                                                        style="line-height: 2em; margin-top: 20px;">
                                                                        <p>備註 : {{info.PURCHASE_ADDITIONAL}}</p>
                                                                    </li>
                                                                    <li class="list-unstyled"
                                                                        style="line-height: 2em; margin-top: 20px;"
                                                                        v-if="info.DISCOUNT_NUM != 0">
                                                                        <p>優惠卷編號 : {{info.DISCOUNT_NUM}}</p>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="tab-default-2">
                                                <div class="panel-group" id="accordion">
                                                    <h4>未通過</h4>
                                                    <div class="panel panel-primary"
                                                        v-for="info in info.filter(item=>item.ORDER_STATUS == 1)"
                                                        :key="info.ORDER_NO">
                                                        <div class="panel-heading"
                                                            style="display: grid ; grid-template-columns:2fr repeat(3,5fr) 1fr 1fr;">
                                                            <h4 class="panel-title">
                                                                <a data-toggle="collapse" data-parent="#accordion"
                                                                    :href="'#' + info.ORDER_NO + info.ORDER_STATUS"
                                                                    aria-expanded="false"
                                                                    class="collapsed">{{info.ORDER_NO}}</a>
                                                            </h4>
                                                            <p style="margin: 0;">
                                                                訂購人姓名:{{info.ORDER_L_NAME}}{{info.ORDER_F_NAME}}</p>
                                                            <p style="margin: 0;">{{info.PROGRAM_NAME}}</p>
                                                            <p style="margin: 0;">{{info.UPDATED_AT}}</p>
                                                            <p style="margin: 0;">未通過</p>
                                                        </div>
                                                        <div :id="info.ORDER_NO + info.ORDER_STATUS"
                                                            class="panel-collapse collapse" aria-expanded="false"
                                                            style="height: 0px;">
                                                            <div class="panel-body" style="margin: 0 6%; border: none;">
                                                                <ul style=" overflow-x: auto;">
                                                                    <li class="list-unstyled" style="margin-top: 20px;">
                                                                        <p>會員編號 : {{info.MEM_NO}}</p>
                                                                    </li>
                                                                    <li class="list-unstyled" style="margin-top: 20px;">
                                                                        <p>訂購人姓 : {{info.ORDER_L_NAME}}</p>
                                                                    </li>
                                                                    <li class="list-unstyled" style="margin-top: 20px;">
                                                                        <p>訂購人名 : {{info.ORDER_F_NAME}}</p>
                                                                    </li>
                                                                    <li class="list-unstyled"
                                                                        style="line-height: 2em; margin-top: 20px;">
                                                                        <p>訂購人電話 : {{info.ORDER_PHONE}}</p>
                                                                    </li>
                                                                    <li class="list-unstyled"
                                                                        style="line-height: 2em; margin-top: 20px;">
                                                                        <p>訂購人e-mail : {{info.ORDER_EMAIL}}</p>
                                                                    </li>
                                                                    <li class="list-unstyled"
                                                                        style="line-height: 2em; margin-top: 20px;">
                                                                        <p>訂購人地址 : {{info.ORDER_ADD}}</p>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="tab-default-3">
                                                <div class="panel-group" id="accordion">
                                                    <h4>待付款</h4>
                                                    <div class="panel panel-primary"
                                                        v-for="info in info.filter(item=>item.ORDER_STATUS == 2)"
                                                        :key="info.ORDER_NO">
                                                        <div class="panel-heading"
                                                            style="display: grid ; align-items: center;grid-template-columns: repeat(3,5fr) 1fr 1fr; "
                                                            v-if='info.PAYWAY_INSP != null'>
                                                            <h4 class="panel-title">
                                                                <a data-toggle="collapse" data-parent="#accordion"
                                                                    :href="'#' + info.ORDER_NO + info.ORDER_STATUS"
                                                                    aria-expanded="false" class="collapsed"
                                                                    style="color: #59c3e1;">{{info.ORDER_NO}}</a>
                                                            </h4>
                                                            <p style="margin: 0;color: #59c3e1;">{{info.PROGRAM_NAME}}
                                                            </p>
                                                            <p style="margin: 0; color: #59c3e1;">{{info.UPDATED_AT}}
                                                            </p>
                                                            <select v-model='info.ORDER_STATUS'
                                                                :id="'status_' + info.ORDER_NO" @change='changeStatus'>
                                                                <option value="2">待付款 </option>
                                                                <option value="3">已付款 </option>
                                                            </select>
                                                        </div>
                                                        <div class="panel-heading"
                                                            style="display: grid ;align-items: center;grid-template-columns:2fr repeat(3,5fr) 1fr 1fr;"
                                                            v-else>
                                                            <h4 class="panel-title">
                                                                <a data-toggle="collapse" data-parent="#accordion"
                                                                    :href="'#' + info.ORDER_NO + info.ORDER_STATUS"
                                                                    aria-expanded="false"
                                                                    class="collapsed">{{info.ORDER_NO}}</a>
                                                            </h4>
                                                            <p style="margin: 0;">
                                                                訂購人姓名:{{info.ORDER_L_NAME}}{{info.ORDER_F_NAME}}</p>
                                                            <p style="margin: 0;">{{info.PROGRAM_NAME}}</p>
                                                            <p style="margin: 0;">{{info.UPDATED_AT}}</p>
                                                            <select v-model='info.ORDER_STATUS'
                                                                :id="'status_' + info.ORDER_NO" @change='changeStatus'>
                                                                <option value="2">待付款 </option>
                                                                <option value="3">已付款 </option>
                                                            </select>
                                                        </div>
                                                        <div :id="info.ORDER_NO + info.ORDER_STATUS"
                                                            class="panel-collapse collapse" aria-expanded="false"
                                                            style="height: 0px;">
                                                            <div class="panel-body" style="margin: 0 6%; border: none;">
                                                                <ul style=" overflow-x: auto;">
                                                                    <li class="list-unstyled" style="margin-top: 20px;">
                                                                        <p>會員編號 : {{info.MEM_NO}}</p>
                                                                    </li>
                                                                    <li class="list-unstyled" style="margin-top: 20px;">
                                                                        <p>訂購人姓 : {{info.ORDER_L_NAME}}</p>
                                                                    </li>
                                                                    <li class="list-unstyled" style="margin-top: 20px;">
                                                                        <p>訂購人名 : {{info.ORDER_F_NAME}}</p>
                                                                    </li>
                                                                    <li class="list-unstyled"
                                                                        style="line-height: 2em; margin-top: 20px;">
                                                                        <p>訂購人電話 : {{info.ORDER_PHONE}}</p>
                                                                    </li>
                                                                    <li class="list-unstyled"
                                                                        style="line-height: 2em; margin-top: 20px;">
                                                                        <p>訂購人e-mail : {{info.ORDER_EMAIL}}</p>
                                                                    </li>
                                                                    <li class="list-unstyled"
                                                                        style="line-height: 2em; margin-top: 20px;">
                                                                        <p>訂購人地址 : {{info.ORDER_ADD}}</p>
                                                                    </li>
                                                                    <li class="list-unstyled"
                                                                        style="line-height: 2em; margin-top: 20px;">
                                                                        <p>接送地點 : {{info.PICK_UP_PLACE}}</p>
                                                                    </li>
                                                                    <li class="list-unstyled"
                                                                        style="line-height: 2em; margin-top: 20px;">
                                                                        <p>車號 : {{info.CAR_TYPE}}</p>
                                                                    </li>
                                                                    <li class="list-unstyled"
                                                                        style="line-height: 2em; margin-top: 20px;">
                                                                        <p>人數 : {{info.NUMBER_OF_PEOPLE}}</p>
                                                                    </li>
                                                                    <li class="list-unstyled"
                                                                        style="line-height: 2em; margin-top: 20px;">
                                                                        <p>備註 : {{info.PURCHASE_ADDITIONAL}}</p>
                                                                    </li>
                                                                    <li class="list-unstyled"
                                                                        style="line-height: 2em; margin-top: 20px;"
                                                                        v-if="info.DISCOUNT_NUM != 0">
                                                                        <p>優惠卷編號 : {{info.DISCOUNT_NUM}}</p>
                                                                    </li>
                                                                    <li class="list-unstyled"
                                                                        style="line-height: 2em; margin-top: 20px;">
                                                                        <p>方案總額 : {{info.TOTAL_PRICE}}</p>
                                                                    </li>
                                                                    <li class="list-unstyled"
                                                                        style="line-height: 2em; margin-top: 20px;">
                                                                        <p>應付金額 : {{info.FINAL_PRICE}}</p>
                                                                    </li>

                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="tab-pane fade" id="tab-default-5">
                                                <div class="panel-group" id="accordion">
                                                    <h4>已付款</h4>
                                                    <div class="panel panel-primary"
                                                        v-for="info in info.filter(item=>item.ORDER_STATUS == 3)"
                                                        :key="info.ORDER_NO">
                                                        <div class="panel-heading"
                                                            style="display: grid ; grid-template-columns:2fr repeat(3,5fr) 1fr 1fr;">
                                                            <h4 class="panel-title">
                                                                <a data-toggle="collapse" data-parent="#accordion"
                                                                    :href="'#' + info.ORDER_NO + info.ORDER_STATUS"
                                                                    aria-expanded="false"
                                                                    class="collapsed">{{info.ORDER_NO}}</a>
                                                            </h4>
                                                            <p style="margin: 0;">
                                                                訂購人姓名:{{info.ORDER_L_NAME}}{{info.ORDER_F_NAME}}</p>
                                                            <p style="margin: 0;">{{info.PROGRAM_NAME}}</p>
                                                            <p style="margin: 0;">{{info.UPDATED_AT}}</p>
                                                            <p style="margin: 0;">已付款</p>
                                                        </div>
                                                        <div :id="info.ORDER_NO + info.ORDER_STATUS"
                                                            class="panel-collapse collapse" aria-expanded="false"
                                                            style="height: 0px;">
                                                            <div class="panel-body" style="margin: 0 6%; border: none;">
                                                                <ul style=" overflow-x: auto;">
                                                                    <li class="list-unstyled" style="margin-top: 20px;">
                                                                        <p>會員編號 : {{info.MEM_NO}}</p>
                                                                    </li>
                                                                    <li class="list-unstyled" style="margin-top: 20px;">
                                                                        <p>訂購人姓 : {{info.ORDER_L_NAME}}</p>
                                                                    </li>
                                                                    <li class="list-unstyled" style="margin-top: 20px;">
                                                                        <p>訂購人名 : {{info.ORDER_F_NAME}}</p>
                                                                    </li>
                                                                    <li class="list-unstyled"
                                                                        style="line-height: 2em; margin-top: 20px;">
                                                                        <p>訂購人電話 : {{info.ORDER_PHONE}}</p>
                                                                    </li>
                                                                    <li class="list-unstyled"
                                                                        style="line-height: 2em; margin-top: 20px;">
                                                                        <p>訂購人e-mail : {{info.ORDER_EMAIL}}</p>
                                                                    </li>
                                                                    <li class="list-unstyled"
                                                                        style="line-height: 2em; margin-top: 20px;">
                                                                        <p>訂購人地址 : {{info.ORDER_ADD}}</p>
                                                                    </li>
                                                                    <li class="list-unstyled"
                                                                        style="line-height: 2em; margin-top: 20px;">
                                                                        <p>接送地點 : {{info.PICK_UP_PLACE}}</p>
                                                                    </li>
                                                                    <li class="list-unstyled"
                                                                        style="line-height: 2em; margin-top: 20px;">
                                                                        <p>車號 : {{info.CAR_TYPE}}</p>
                                                                    </li>
                                                                    <li class="list-unstyled"
                                                                        style="line-height: 2em; margin-top: 20px;">
                                                                        <p>人數 : {{info.NUMBER_OF_PEOPLE}}</p>
                                                                    </li>
                                                                    <li class="list-unstyled"
                                                                        style="line-height: 2em; margin-top: 20px;">
                                                                        <p>備註 : {{info.PURCHASE_ADDITIONAL}}</p>
                                                                    </li>
                                                                    <li class="list-unstyled"
                                                                        style="line-height: 2em; margin-top: 20px;"
                                                                        v-if="info.DISCOUNT_NUM != 0">
                                                                        <p>優惠卷編號 : {{info.DISCOUNT_NUM}}</p>
                                                                    </li>
                                                                    <li class="list-unstyled"
                                                                        style="line-height: 2em; margin-top: 20px;">
                                                                        <p>方案金額 : {{info.TOTAL_PRICE}}</p>
                                                                    </li>
                                                                    <li class="list-unstyled"
                                                                        style="line-height: 2em; margin-top: 20px;">
                                                                        <p>應付金額 : {{info.FINAL_PRICE}}</p>
                                                                    </li>
                                                                    <li class="list-unstyled"
                                                                        style="line-height: 2em; margin-top: 20px;">
                                                                        <p>支付方式 : {{info.PAYWAY}}</p>
                                                                    </li>
                                                                    <li class="list-unstyled"
                                                                        style="line-height: 2em; margin-top: 20px;">
                                                                        <p>信用卡卡號 : {{info.PAYWAY_ID}}</p>
                                                                    </li>
                                                                    <li class="list-unstyled"
                                                                        style="line-height: 2em; margin-top: 20px;">
                                                                        <p>信用卡檢查碼 : {{info.PAYWAY_INSP}}</p>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>


    <!-- Bootstrap Core JavaScript -->
    <script src="../js/bootstrapMin.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../js/metisMenuMin.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../js/startmin.js"></script>
    <script src="../js/adminTravelOrder.js"></script>
</body>

</html>