<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>一般預約</title>
  <link rel="stylesheet" href="./css/style.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body class="animate-background">

  <!-- @@include('layout/header.html') -->

  <section class="bookingInfo">
    <h4 class="topic">
      <span><img src="images/icon/Icon simple-hipchat.svg" alt=""></span>
      <span>B</span>
      <span>O</span>
      <span>O</span>
      <span>K</span>
      <span>I</span>
      <span>N</span>
      <span>G</span>
    </h4>
    <h2 class="chinese-topic">一般預約</h2>

    <p>可預約時段為：<br>
       早上時段為 08:00 ~ 12:00，
       下午時段為 13:00 ~ 17:00，
       晚上時段為 18:00 ~ 22:00，
    </p>
  </section>

  <div id="app">
    <div class="booking">
      <div class="calender" id="step1" v-show="stepLoading[0]">
        <ul class="pills">
          <li class="pills-main">{{pilltext[0]}}</li>
          <li class="pills-else">{{pilltext[1]}}</li>
          <li class="pills-else">{{pilltext[2]}}</li>
          <li class="pills-else">{{pilltext[3]}}</li>
        </ul>
        <div class="deskTable">
          <div class="weekdays">
            <span>{{curYear}}-{{leftMonth+1}}-{{leftDay}} ~ {{curYear}}-{{rightMonth+1}}-{{rightDay}}</span>
          </div>
          <table>
            <tr>
              <th></th>
              <th v-for="day in tableTh">
                <span>{{day.deskWeek}}</span>
                <span class="day">{{day.month}}-{{day.day}}</span>
              </th>
            </tr>
            <tr>
              <td>上午</td>
              <td v-for="(i, index) in tableTh"><button :class="btnStatus" @click="btnBookingTime(tableTh[index].year,tableTh[index].month,tableTh[index].day,'BOOKING_MORNING')">預約</button></td>
            </tr>
            <tr>
              <td>下午</td>
              <td v-for="(i, index) in tableTh"><button :class="btnStatus" @click="btnBookingTime(tableTh[index].year,tableTh[index].month,tableTh[index].day,'BOOKING_AFTERNOON')">預約</button></td>
            </tr>
            <tr>
              <td>晚上</td>
              <td v-for="(i, index) in tableTh"><button :class="btnStatus" @click="btnBookingTime(tableTh[index].year,tableTh[index].month,tableTh[index].day,'BOOKING_EVENING')">預約</button></td>
            </tr>
          </table>
          <div class="calenderDes">
            <span class="okay">可預約</span>
            <span class="full">已額滿</span>
          </div>
        </div>
        <div class="mobileTable">
          <div class="weekdays">
            <span>{{curYear}}-{{leftMonth+1}}-{{leftDay}} 至 {{curYear}}-{{rightMonth+1}}-{{rightDay}}</span>
          </div>
          <table>
            <tr>
              <th v-for="day in tableTh">
                <span class="day">{{day.MobileWeek}}</span>
              </th>
            </tr>
              <td v-for="day in tableTh">{{day.day}}</td>
            <tr>
            </tr>
          </table>
    
          <button class="btn-third">上午</button>
          <button class="btn-third">下午</button>
          <button class="btn-third">晚上</button>
        </div>
      </div>

      <div class="carChoosing" id="step2" v-show="stepLoading[1]">
        <ul class="pills">
          <li class="pills-main" @click="backToStep1">{{pilltext[0]}} <i class="far fa-check-circle" aria-hidden="true"></i></li>          
          <li class="pills-main">{{pilltext[1]}}</li>
          <li class="pills-else">{{pilltext[2]}}</li>
          <li class="pills-else">{{pilltext[3]}}</li>
        </ul>
        <div class="cards">
          <div class="card" v-for="info in carInfo">
            <img :src="info.carPic" alt="carPic">
            <section>
              <h4>{{info.carType}}</h4>
              <p>{{info.cardes}}</p>
            </section>
        
            <button class="btn-third" @click="btnBookingCar(info.carType)">選擇</button>
          </div>
        </div>
      </div>

      <div class="driverChoosing" id="step3" v-show="stepLoading[2]">
        <ul class="pills">
          <li class="pills-main" @click="backToStep1">{{pilltext[0]}} <i class="far fa-check-circle" aria-hidden="true"></i></li>
          <li class="pills-main" @click="backToStep2">{{pilltext[1]}} <i class="far fa-check-circle" aria-hidden="true"></i></li>
          <li class="pills-main">{{pilltext[2]}}</li>
          <li class="pills-else">{{pilltext[3]}}</li>
        </ul>
        <div class="cards">
          <div class="card" v-for="info in driverInfo">
            <div class="avatar">
              <div class="avatar-bookingDriver">
                <img :src="info.driverPic" alt="">
              </div>
              <h4>{{info.driverName}}</h4>
            </div>
            <button class="btn-third" @click="btnBookingDriver(info.driverName)">選擇</button>
          </div>
        </div>
      </div>

      <div class="formChecking" id="step4" v-show="stepLoading[3]">
        <ul class="pills">
          <li class="pills-main" @click="backToStep1">{{pilltext[0]}} <i class="far fa-check-circle" aria-hidden="true"></i></li>
          <li class="pills-main" @click="backToStep2">{{pilltext[1]}} <i class="far fa-check-circle" aria-hidden="true"></i></li>
          <li class="pills-main" @click="backToStep3">{{pilltext[2]}} <i class="far fa-check-circle" aria-hidden="true"></i></li>
          <li class="pills-main">{{pilltext[3]}}</li>
        </ul>
        <form class="booking-form" action="">
          <ul class="booking-info">
            <h3>請填寫訂單明細</h3>
            <li class="full">
              <label for="memId" class="def">
                <input type="checkbox" name="memId" id="memId">同會員資料
              </label>
            </li>
            <li class="sbs">
              <label class="def" for="b-lastName">姓氏</label>
              <input class="def" type="text" name="b-lastName" id="b-lastName">
            </li>
            <li class="sbs">
              <label class="def" for="b-FirstName">名字</label>
              <input class="def" type="text" name="b-FirstName" id="b-FirstName">
            </li>
            <li class="sbs">
              <label class="def" for="b-email">信箱</label>
              <input class="def" type="email" name="b-email" id="b-email">
            </li>
            <li class="sbs">
              <label class="def" for="b-phone">連絡電話</label>
              <input class="def" type="text" name="b-phone" id="b-phone">
            </li>
            <li class="sbs">
              <label class="def" for="b-startLoa">上車地點</label>
              <input class="def" type="text" name="b-startLoa" id="b-startLoa">
            </li>
            <li class="sbs">
              <label class="def" for="b-endLoa">下車地點</label>
              <input class="def" type="text" name="b-endLoa" id="b-endLoa">
            </li>
            <li class="sbs">
              <label class="def" for="b-coopon">使用優惠券</label>
              <select class="def" name="b-coopon" id="">
                <option value="b-coopon">請選擇</option>
              </select>
            </li>
            <li class="full">
              <label class="def" for="b-else">其他需求</label>
              <textarea name="b-else" id="b-else" style="width: 100%; height: 100px;"></textarea>
            </li>
          </ul>

          <ul class="booking-detail">
            <h3>請確認此次訂車資訊</h3>
            <li class="sbs">
              <label class="def" for="">確認預約日期</label>
              <input type="text" class="def" name="b-date" :value="finalInfo[0]" disabled>
            </li>
            <li class="sbs">
              <label class="def" for="">確認預約時段</label>
              <input type="text" class="def" name="b-timing" :value="finalInfo[1]" disabled>
            </li>
            <li class="sbs">
              <label class="def" for="">確認預約車種</label>
              <input type="text" class="def" name="b-car" :value="finalInfo[2]" disabled>
            </li>
            <li class="sbs">
              <label class="def" for="">確認預約司機</label>
              <input type="text" class="def" name="b-driver" :value="finalInfo[3]" disabled>
            </li>
            <li class="full">
              <label class="def" for="">應付金額</label>
              <input type="text" class="def" name="b-amount" :value="finalAmount" disabled>
            </li>
            <li class="full">
              <label class="def" for="">優惠券折扣金額</label>
              <input type="text" class="def" name="b-discount" :value="Math.round(finalAmount*(1-finalDiscount))" disabled>
            </li>
            <li class="full">
              <label class="def" for="">實付金額</label>
              <input type="text" class="def" name="b-total" :value="finalAmount*finalDiscount" disabled>
            </li>
          </ul>
          <input type="button" value="確認預約" class="btn-main" id="bookingSub">
          <a href="index.html" class="btn-cancel">取消預約</a>
        </form>

        <div class="pop-up-box">
          <div class="item">
            <div class="icon">
              <i class="far fa-check-circle" aria-hidden="true"></i>
            </div>
            <h2>預約完成</h2>
            <button class="btn-cancel" id="goGame">確定</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  @@include('layout/footer.html')
  <!-- @@include('layout/slotmachine2.html') -->
  
  <!-- <script src="js/booking.js"></script> -->
  <script src="js/booking2.js"></script>

</body>
</html>