<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <title>討論區</title>
</head>

<body class="animate-background">
  @@include('layout/header.html')

  <div id="app">
    <div class="forum-topic">
      <h4 class="topic">
        <span><img src="images/icon/Icon simple-hipchat.svg" alt=""></span>
        <span>F</span>
        <span>O</span>
        <span>R</span>
        <span>U</span>
        <span>M</span>
      </h4>
      <h2 class="chinese-topic">討論區</h2>
    </div>
    <div class="container">
      <div class="container-category">

        <div class="category">
          <div class="category-detail">
            <p class="category-detail-word">排序</p>
            <button  @click.stop="dropdownOrder">
              <p id="dropdown-order">{{order}}</p>
              <div class="triangle"></div>
            </button>
            <ul class="dropdown-menu" v-show = "openOrder" ref="showOrder">
              <li class="order" v-for = "item in orderList" @click = "changeOrder" >{{item}}</li>
            </ul>
          </div>
          <div class="category-detail">
            <p class="category-detail-word">分類</p>
            <button  @click.stop="dropdownTypeList">
              <p id="dropdown-type-list">{{type}}</p>
              <div class="triangle"></div>
            </button>
            <ul class="dropdown-menu" v-show="openTypeList" id="dropdown-menu-sort"  ref="showPanel">
              <li class="sort" v-for="item in typeList" @click = " changeTypeList">{{item}}</li>
            </ul>
          </div>
        </div>
          <button class="btn-forum" @click= this.upload>
            我要發文
            <i class="fa fa-pencil" aria-hidden="true"></i>
          </button>
      </div>
      <div class="forum-content v-if='filterData != null" >
        <div class="forum-card" v-for="item in filterData.slice((this.targetPageId - 1)* this.perPage,this.targetPageId * this.perPage)" :key="item.ART_NO">
          <div class="forum-avatar">
            <img src="images/forum/member.jpg" alt="">
            <span>董董</span>
          </div>
          <div class="card-group">
            <img :src="item.ART_IMG" alt="">
            <span class="card-sort">{{item.ART_CAT}}</span>
            <section class="card-content">
              <h3 class="card-topic">{{item.ART_TITLE}}</h3>
              <div class="card-info">
                <div class="people-amount">
                  <i class="fa fa-eye" aria-hidden="true"></i>
                  <span class="mini " id="add">{{item.ART_CLICK}}</span>
                </div>
                <span class="mini">{{item.ART_UPDATED}}</span>
              </div>
              <p>{{item.ART_CONTENT | ellipsis}}</p>
              <a :href="'./forumDetail.html?ART_NO=' + item.ART_NO">
                <button class="btn-second">MORE</button>
              </a>
            </section>
          </div>
        </div>

      </div>


    </div>
    <ul class="pagination">
      <li @click='changePage(n)' v-for="n in totalPage" :class="n == targetPageId? 'page-main':'page-else'">{{n}}</li>
    </ul>
    </div>
  @@include('layout/footer.html')

  <script src="./js/forum.js"></script>



</body>

</html>