<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>方案列表</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>

<body class="animate-background">


    @@include('layout/header.html')

    <div id="app">
        <section class="scheme-l-hero">
            <div class="title container">
                <div class="item ">
                    <h2>旅遊方案</h2>
                    <p>Travel Plan</p>
                </div>
            </div>
        </section>

        <section class="filter-column">
            <div class="container">
                <div class="box">
                    <ul class="word-menu">
                        <li><span> 排序</span> </li>
                        <li :class='this.type == "精選評分" ? "active": "" ' @click='selectType'><span> 精選評分</span> </li>
                        <li :class='this.type == this.priceSort ? "active down": "down" '><span> {{priceSort}}</span>
                            <ul>
                                <li @click='selectPriceSort'>價格由高到低</li>
                                <li @click='selectPriceSort'>價格由低到高</li>
                            </ul>
                        </li>
                        <li :class='this.type == this.personSort ? "active down": "down" '><span> {{personSort}}</span>
                            <ul>
                                <li @click='selectPersonSort'>人數由少到多</li>
                                <li @click='selectPersonSort'>人數由多到少</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

        <section class="list-block">
            <div class="container" v-if="filterData">
                <div class="card-item"
                    v-for="item in  filterData.slice((targetPageId - 1 ) * perPage , targetPageId * perPage)">
                    <div class="card-image">
                        <a :href="'./programDetail.html?program_no=' + item.PROGRAM_NO">
                            <img :src=item.PROGRAM_PIC alt="">
                        </a>
                    </div>
                    <div class="text">
                        <div class="project-name">
                            <a :href="'./programDetail.html?program_no=' + item.PROGRAM_NO">
                                <h3>{{item.PROGRAM_NAME}}</h3>
                            </a>
                        </div>
                        <div class="star">
                            <star-rating :rating="parseFloat( item.PROGRAM_RATING)" :read-only="true" :increment="0.01"
                                :show-rating=false active-color="#ffd900" inactive-color="#9f9f9f" :star-size="25">
                            </star-rating>
                        </div>
                        <div class="tag-group">
                            <div class="tag">
                                最多{{item.CAR_MAXNUM}}人
                            </div>
                            <div class="tag">
                                {{item.CAR_TYPE}}
                            </div>
                        </div>

                        <div class="price">
                            <h4>${{item.PROGRAM_PRICE}}</h4>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <ul class="pagination">
            <li @click='changePage(n)' :class=" n == targetPageId? 'page-main' : 'page-else' " v-for='n in totalPage'>
                {{n}}</li>
        </ul>
    </div>
    @@include('layout/footer.html')

    <script src="./js/programList.js"></script>
</body>

</html>