<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>方案細節</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="icon" href="images/favicon.png">
</head>

<body class="animate-background">


    @@include('layout/header.html')

    <div id="app" v-cloak>
        <section class="program-detail">
            <div class="container" v-if='DetailInfo !=  undefined && DetailInfo.length > 0'>
                <div class="title">
                    <h2>{{DetailInfo[0].PROGRAM_NAME}}</h2>
                </div>
                <div class="info">
                    <img :src="DetailInfo[0].PROGRAM_PIC" alt="">
                    <div class="detail">
                        <div class="item-group">
                            <div class="stroke">
                                <span>最多人數</span>
                                <p>{{DetailInfo[0].CAR_MAXNUM}}</p>
                            </div>
                            <div class="location">
                                <span>搭乘車種</span>
                                <p>{{DetailInfo[0].CAR_TYPE}}</p>
                            </div>
                            <div class="star-wrap">
                                <span>精選評分</span>
                                <star-rating :rating="parseFloat( DetailInfo[0].PROGRAM_RATING)" :read-only="true" :increment="0.01"
                                    active-color="#ffd900" inactive-color="#9f9f9f" :show-rating=false :star-size="25">
                                </star-rating>   
                            </div>
                            <div class="price">
                                <span>價格</span>
                                <p>${{DetailInfo[0].PROGRAM_PRICE}}</p>
                            </div>
                        </div>
                        <div class="content">
                            <div class="spec">
                                <span>行程特色</span>
                                <ul>
                                    <li><i class="fas fa-check-square"></i>{{DetailInfo[0].PROGRAM_FEATURE_1}}</li>
                                    <li><i class="fas fa-check-square"></i>{{DetailInfo[0].PROGRAM_FEATURE_2}}</li>
                                    <li><i class="fas fa-check-square"></i>{{DetailInfo[0].PROGRAM_FEATURE_3}}</li>
                                </ul>
                            </div>
                            <div class="remarks">
                                <span>備註</span>
                                <p class="text"> {{DetailInfo[0].PROGRAM_REMARKS}}</p>
                                <button class="btn-main" @click="this.order">立即下單</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="program-spot">
            <div class="container">
                <h3 class="title">行程介紹</h3>
                <div class="spot-group" >
                    <div class="spot" v-for="(item,index) in spotDetailInfo" :key="item.id">
                        <div class="order">
                            <p>{{index+1}}</p>
                        </div>
                        <div class="spot-info">
                            <h3 class="spot-title">
                                {{item.SPOT_NAME}}
                            </h3>
                            <p class="spot-text">
                                {{item.SPOT_MIN_INFO}}
                            </p>
                            <p class="spot-time">
                                {{item.PROGRAM_INFO_1}}
                                <br>
                                {{item.PROGRAM_INFO_2}}
                            </p>
                        </div>
                        <div class="spot-img">
                            <img :src="item.SPOT_PIC_2" alt="" class="img-f">
                            <img :src="item.SPOT_PIC_3" class="img-s" alt="">
                            <img :src="item.SPOT_PIC_4" alt="" class="img-t">
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    @@include('layout/footer.html')
    <script src="./js/programDetail.js"></script>

</body>

</html>