<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>旅遊景點</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>

<body class="animate-background">
    @@include('layout/header.html')
    <div id="app">
        <section class="spot-l-hero">
            <div class="title container">
                <div class="item">
                    <h2>旅遊景點</h2>
                    <p>Tourist Attraction</p>
                </div>
            </div>
        </section>
        <section class="container spot-list">
            <ul class="word-menu">
                <li v-for="item in typeList" @click="changeList(item)" :class='(item)== type? "active": ""'>{{item}}
                </li>
            </ul>
            <div class="card-item" v-if='filterData != undefined'>
                <div class="item"
                    v-for="item in filterData.slice((this.targetPageId - 1)* this.perPage,this.targetPageId * this.perPage)"
                    :key="item.SPOT_NO" >
                    <div class="pic">
                        <img :src="item.SPOT_PIC_3" alt="">
                    </div>

                    <div class="title">
                        <a
                            :href="'./spotDetail.html?SPOT_NO=' + item.SPOT_NO">{{item.SPOT_NAME}}</a><span>{{item.SPOT_CAT}}</span>
                    </div>
                    <div class="intro">
                        {{item.SPOT_SLOGAN}}
                    </div>
                </div>
            </div>

        </section>
        <div class="pagination">
            <a :href="'./spotList.html?page=' + n  + '&cat='+ type"
                :class=" n == targetPageId? 'page-main' : 'page-else' " v-for='n in totalPage'>{{n}}</a>
        </div>
    </div>
    @@include('layout/footer.html')
    <script src="./js/spotList.js"></script>

</body>

</html>