<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>景點細節</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>

<body class="animate-background">


    @@include('layout/header.html')

    <div id="app" v-cloak>
        <section class="spot-d-hero" v-if="detailInfo">
            <img :src=detailInfo[0].SPOT_PIC_B alt="">
            <div class="title">
                <h2>{{detailInfo[0].SPOT_NAME}}</h2>
                <p>{{detailInfo[0].SPOT_SLOGAN}}</p>
            </div>
        </section>
        <section class="spot-detail" v-if="detailInfo">
            <div class="intro container">
                <img :src=detailInfo[0].SPOT_PIC_1 alt="">
                <div class="intro-detail">
                    <p>{{detailInfo[0].SPOT_INFO}}
                    <div class="intro-imgs">
                        <img :src=detailInfo[0].SPOT_PIC_2 alt="">
                        <img :src=detailInfo[0].SPOT_PIC_3 alt="">
                        <img :src=detailInfo[0].SPOT_PIC_4 alt="">
                    </div>
                </div>
            </div>
        </section>

        </section>
        <section class="related container" v-if="programDetailInfo">
            <h2>相關旅遊方案</h2>
            <Div class="item-group" >
                <a :href="'./programDetail.html?program_no=' + item.PROGRAM_NO" class="item" v-for="item in programDetailInfo" :key="item.PROGRAM_NO"> 
                    <img :src="item.PROGRAM_PIC" alt="">
                    <h5>{{item.PROGRAM_NAME}}</h5>
                </a>
            </Div>
        </section>

    </div>
    @@include('layout/footer.html')

    <script src="./js/spotDetail.js"></script>
</body>

</html>