<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>包車旅遊</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>

<body class="animate-background">
    @@include('layout/header.html')
    <div id="app">
        <section class="travel-hero">
            <div class="title container">
                <div class="item">
                    <h2>包車旅遊</h2>
                    <p>Chartered Tour</p>
                </div>
            </div>
        </section>
        <section class="travel-program">
            <div class="container">
                <div class="title">
                    <h2>熱門旅遊方案</h2>
                    <a href="./programList.html">more</a>
                </div>
                <div class="program-group">
                    <div class="main-program" v-if = "mainProgramStatusOpen != null">
                        <img :src=mainProgramStatusOpen[0].PROGRAM_PIC alt="">
                        <div class="intro">
                            <a :href="'./programDetail.html?program_no=' + mainProgramStatusOpen[0].PROGRAM_NO">
                              {{mainProgramStatusOpen[0].PROGRAM_NAME}}
                            </a>
                            <p>{{mainProgramStatusOpen[0].PROGRAM_FEATURE_1}}</p>
                        </div>
                    </div>
                    <div class="programs" v-if ="programStatusOpen != null">
                        <div class="sub-program" v-for="item in programStatusOpen.slice(0,4)" :key="item.id" >
                            <img :src=item.PROGRAM_PIC alt="">
                            <div class="intro">
                                <a :href="'./programDetail.html?program_no=' + item.PROGRAM_NO">
                                   {{item.PROGRAM_NAME}}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="travel-spot">
            <div class="container">
                <div class="title">
                    <h2>熱門景點</h2>
                    <a href="./spotList.html?page=1">more</a>
                </div>
                <div class="plural-spot">
                    <div class="main-spot" v-if = "mainSpotStatusOpen != null">
                        <img :src=mainSpotStatusOpen[0].SPOT_PIC_B alt="">
                        <div class="intro">
                            <a :href="'./spotDetail.html?SPOT_NO=' + mainSpotStatusOpen[0].SPOT_NO">
                             {{mainSpotStatusOpen[0].SPOT_NAME}}
                            </a>
                            <p>{{mainSpotStatusOpen[0].SPOT_SLOGAN}}</p>
                        </div>
                    </div>
                    <div class="spots" v-if = "spotStatusOpen != null">
                        <div v-for="item in spotStatusOpen.slice(0,4)"  :key="item.id">
                            <div class="sub-spot">
                                <img :src=item.SPOT_PIC_3 alt="">
                                <div class="intro">
                                    <a :href="'./spotDetail.html?SPOT_NO=' + item.SPOT_NO">
                                      {{item.SPOT_NAME}}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    @@include('layout/footer.html')
    <script src="./js/travelList.js"></script>

</body>

</html>