<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://kit.fontawesome.com/884c415745.js" crossorigin="anonymous"></script>
    <title>index</title>
</head>
<body>
  <footer>
      <div class="f-content">
        <div class="f-logo" >
          <img src="images/logo/ohya_logo_main-w.svg" alt="">
        </div>
        <div class="f-nav-g">
          <div class="f-nav-link">
            <a href="">預約服務</a></div>
          <div class="f-nav-link"><a href="">無障礙服務</a></div>
          <div class="f-nav-link"><a href="">包車旅遊</a></div>
          <div class="f-nav-link"><a href="">討論區</a></div>
        </div>
        <div class="f-social-g">
          <div class="line">
            <i class="fab fa-line">
            </i>
          </div>
          <div class="ig"><i class="fab fa-instagram-square"></i></div>
          <div class="yt"><i class="fab fa-youtube-square"></i></div>
          <div class="fb"><i class="fab fa-facebook-square"></i></div>
        </div>
        <div class="coyeright">
          <span>	
            Copyright © 2021 OhYa Accessible Taxi Inc.</span>
        </div>
      </div>
  </footer>

</body>
</html>