<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="css/style2.css">
  
  <title>Responsive Navbar</title>

</head>

<body>
  <header>
    <div class="container">
      <input type="checkbox" name="" id="check">

      <div class="logo-container">
        <div class="nav-logo">
          <a href="index.html"><img alt="logo" width="117.4" height="36" src="img/Woo3C.png" data-reactid="29"></a>
        </div>
        <!-- <h3 class="logo">Brand<span>Name</span></h3> -->

      </div>

      <div class="nav-btn">
        <div class="nav-links">
          <ul>
            <li class="nav-link" style="--i: .6s">
              <a href="#">
                iPhone配件<i class="fas fa-caret-down"></i>
              </a>
              <div class="dropdown">
                <ul>
                  <li class="dropdown-link">
                    <a href="#">傳輸線</a>
                  </li>
                  <li class="dropdown-link">
                    <a href="#">行動電源</a>
                  </li>
                  <li class="dropdown-link">
                    <a href="#">手機殼</a>
                  </li>
                  <li class="dropdown-link">
                    <a href="#">螢幕保護貼</a>
                  </li>
                  <div class="arrow"></div>
                </ul>
              </div>
            </li>
            <li class="nav-link" style="--i: .85s">
              <a href="#">
                Macbook周邊
              </a>
            </li>
            <li class="nav-link" style="--i: 1.1s">
              <a href="#">其他周邊</a>
            </li>
            <li class="nav-link" style="--i: 1.35s">
              <a href="#">購物說明</a>
            </li>
            <!-- <li class="nav-link" style="--i: 1.35s">
              <a href="#">聯絡我們</a>
            </li> -->
          </ul>
        </div>

        <div class="log-sign" style="--i: 1.8s">
          <ul>
            <li><input class="search" type="search" placeholder="商品搜尋..."></li>
            <li class="cart">
              <a href="#">
                <i class="fas fa-shopping-cart"></i>
              </a> 
          </li>
          </ul>
          <a href="#" class="btn transparent">登入</a>
          <a href="#" class="btn-b solid">註冊</a>
        </div>
      </div>

      <div class="hamburger-menu-container">
        <div class="hamburger-menu">
          <div></div>
        </div>
      </div>
    </div>
  </header>




</body>

</html>