<!-- header -->
<header>
  <div id="app">
    <div class="container">
      <input type="checkbox" name="" id="check">
      <div class="logo-container">
        <div class="nav-logo">
          <a href="index.html"><img alt="logo" width="117.4" height="36" src="images/logo/ohya_logo_main.svg"
              data-reactid="29"></a>
        </div>
      </div>
      <div class="nav-btn">
        <div class="nav-links">
          <ul>
            <li class="nav-link" style="--i: .6s">
              <a href="booking.html">預約服務</a>
            </li>
            <li class="nav-link" style="--i: .85s">
              <a href="service.html">無障礙服務</a>
            </li>
            <li class="nav-link" style="--i: 1.1s">
              <a href="travelList.html">包車旅遊</a>
            </li>
            <li class="nav-link" style="--i: 1.35s">
              <a href="forum.html">討論區</a>
            </li>

          </ul>
        </div>

        <div class="log-sign" style="--i: 1.8s" id="loginLink">
          
        <div class="user" v-for=" memInfo in memInfo" :key="memInfo.mem_no">
          <img src="../images/icon/user-solid.svg" alt="" style="width: 50px;color: black;">
          <a href="usercenter.html">{{memInfo.MEM_FIRSTNAME}}</a>
        </div>

          <button class="btn-login">
            <a href="login.html" class="">登入</a>
          </button>

          <button class="btn-sign">
            <a href="login.html" class="">註冊</a>
          </button>

          <button class="book-btn-l" onclick="document.getElementById('id01').style.display='block'"
            style="width:auto;">
            <a href="booking.html" class="btn-y ">立即預約</a>
          </button>
        </div>
      </div>

      <div class="hamburger-menu-container">
        <button>
          <a href="../login.html" class="btn-y ">登入</a>
        </button>
        <div class="hamburger-menu">
          <div></div>
        </div>
      </div>
    </div>
  </div>
</header>