<!-- header -->
<header>
  <div id="app1" v-cloak>
    <div class="container">
      <input type="checkbox" name="" id="check">
      <div class="logo-container">
        <div class="nav-logo">
          <a href="homePage.html"><img alt="logo" width="117.4" height="36" src="images/logo/ohya_logo_main.svg"
              data-reactid="29"></a>
        </div>
      </div>
      <div class="nav-btn">
        <div class="nav-links">
          <ul>
            <li class="nav-link" style="--i: .6s">
              <a href="booking.html">預約服務</a>
            </li>
            <li class="nav-link" style="--i: .85s">
              <a href="service.html">無障礙服務</a>
            </li>
            <li class="nav-link" style="--i: 1.1s">
              <a href="travelList.html">包車旅遊</a>
            </li>
            <li class="nav-link" style="--i: 1.35s">
              <a href="forum.html">討論區</a>
            </li>

          </ul>
        </div>

        <div class="log-sign" style="--i: 1.8s" id="loginLink">
          <div v-if='memInfo.length > 0'>
            <div class="user" v-for=" memInfo in memInfo" :key="memInfo.mem_no">
              <img src="images/icon/user-solid.svg" alt="" style="width: 15px;color: black;">
              <a href="usercenter.html">{{memInfo.MEM_FIRSTNAME}}</a>
            </div>
          </div>
          <div v-else>
            <button class="btn-login">
              <a href="login.html" class="">登入</a>
            </button>
          </div>
          <button class="book-btn-l" onclick="document.getElementById('id01').style.display='block'"
            style="width:auto;">
            <a href="booking.html" class="btn-y ">立即預約</a>
          </button>
        </div>
      </div>

      <div class="hamburger-menu-container">



        <div v-if='memInfo.length > 0'>
          <div class="user" v-for=" memInfo in memInfo" :key="memInfo.mem_no" style="display:flex;">
            <a href="usercenter.html">{{memInfo.MEM_FIRSTNAME}}</a>
          </div>
        </div>
        <div v-else>
          <button>
            <a href="login.html" class="btn-y ">登入</a>
          </button>
        </div>
        <div class="hamburger-menu">
          <div></div>
        </div>
      </div>
    </div>
  </div>
</header>
<script src="./js/member.js"></script>