//base
@import 'base/var';
@import 'base/reset';
/*以上reset*/
@import 'base/extend'; //%佔位符號 搭配@extend使用

// mixin 搭配 @include使用
@import 'mixins/mixin';
//import page
@import 'layout/header';
@import 'layout/footer';
@import 'layout/index';
@import 'layout/slotmachine';
@import 'layout/memberSideBar';
@import 'page/booking';
@import 'page/forum';
@import 'page/forumDetail';
@import 'page/uploadArticle';
@import 'page/programList';
@import 'page/programDetail';
@import 'page/spotDetail';
@import 'page/spotList';
@import 'page/travelList';
@import 'page/service';
@import 'page/travelFormOne';
@import 'page/travelFormTwo';
@import 'page/login';
@import 'page/payment';
<<<<<<< HEAD
@import 'page/front_door';

=======
>>>>>>> 53804ee118ba898fe84f4475484831fc30930372

//import noto sans from google font
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');

.container{
  @include container();
}

//以下body動畫
@include bodyAnimated();

//以下文字相關標籤
@for $i from 1 to 5 {
  h#{$i} {
    margin-bottom: $text-text;
    font-weight: $font-bold;
    @extend %black;
  }
}

[v-cloak] {
  display: none;
}

//Font style
body {
  font-family: 'Noto Sans TC', sans-serif;
}

h1,
h2 {
  font-size: $font-h2;
}

h3 {
  font-size: $font-h3;
}

h4 {
  font-size: $font-h4;
}

span,
p {
  margin-bottom : $ele-ele;
  font-size: $font-base;
  font-weight: $font-regular;
  letter-spacing: $font-spacing;
  line-height: $font-lineheight;
  @extend %block, %black;
}

span.mini{
  font-size: $font-mini;
  @extend %gray-first;
}

//以下主標
@include topic();

//只是顏色範例，無意義，可當複習for迴圈看
.colorbox {
  margin-bottom: $ele-ele;
  @extend %flex, %flex-w;
}

@for $i from 1 to 9 {
  .box#{$i} {
    width: 100px;
    height: 100px;
    margin-right: $ele-ele;
    font-weight: $font-bold;
    @extend %flex, %flex-jc-ai;
  }
}

.box1 {
  @extend %bg-yellow-first;
}

.box2 {
  @extend %bg-black;
}

.box3 {
  border: 0.5px solid $black;
  @extend %bg-white;
}

.box4 {
  @extend %bg-yellow-second;
}

.box5 {
  @extend %bg-gray-first;
}

.box6 {
  @extend %bg-gray-second;
}

.box7 {
  @extend %bg-gray-third;
}

.box8 {
  @extend %bg-blue;
}

//以下按鈕+link+頁碼
//一級按鈕
@include btn(button, main, 150px, '%black', '%bg-yellow-first');
//二級按鈕
@include btn(button, second, 150px, '%white', '%bg-yellow-first');
button.btn-second:hover{
  color: $white;
  background-color: $black;
}
//三級按鈕
@include btn(button, third, 150px, '%black', '%bg-white');
button.btn-third{
  border: 2px solid $yellow-first;
  &:hover{
    border: 2px solid $black;
  }
}

//link
a {
  margin-right: $ele-ele;
  font-size: $font-base;
  @extend %blue;

  &:hover {
    @extend %gray-first;
  }
}

//當前頁面
@include page(main, '%white', '%bg-black') {
  &:hover {
    @extend %white;
  }
}

//非當前頁面
@include page(else, '%black', '%bg-white') {
  &:hover {
    @extend %white, %bg-black;
  }
}

//以下form系列
//lebel default
@include label(def, '%black');
//lebel error
@include label(error, '%error');
//lebel success
@include label(success, '%success');

//input-text default
@include input(def, 100%, $black);
//input-text error
@include input(error, 100%, $error);
//input-text success
@include input(success, 100%, $success);

//select
@include select(def, 100%);

input.checkbox,
input.radio {
  margin-bottom: $ele-ele;
  width: 20px;
  height: auto;

  @extend %blue;
}

input.checkbox:checked {
  background-color: $black;
  color: $white;
}

//input button
@include btn(input, main, 150px, '%black', '%bg-yellow-first');

//以下pills
@include pills(main, '%yellow-first', '%cursor-hand');
@include pills(else, '%gray-first', '%cursor-def');

//以下table(只限可設定寬度)
@include table(300px);

//以下卡片
.cards {
  @extend %flex, %flex-w, %flex-sb;
}

@include card(100%) {
  .card {
    margin-bottom: $ele-ele;
    @extend %flex, %flex-w, %flex-jc, %border-box;
  }

  .card h4 {
    @extend %block, %ta-center;
  }
}

//以下圖文卡片 photo-card
.photo-cards{
  @extend %flex, %flex-w, %flex-sb;
}

@include photoCard(100%);

.photo-card{
  margin-bottom: $ele-ele*4;
}

.photo-card .card-member,
.card-sort{
  @extend %flex, %flex-ai;
}

.photo-card span.card-sort{
  @extend %block, %ta-center, %white, %bg-blue;
}

.dateAndpeople{
  @extend %flex, %flex-sb;
}

.dateAndpeople .people-amount{
  @extend %flex;
}

.photo-card section button{
  @extend %block;
}
  
//以下rwd斷點範例(用卡片) 需留意斷點不然吃重複的extend
@include rwd_each(tablet) {
  @include card(46%);
  @include photoCard(46%);
}

@include rwd_each(desktop) {
  @include card(23%);
  @include photoCard(23%);
}

//以下人像圖形遮色片 over-flow
.avatar {
  @extend %flex, %flex-dir-colu, %flex-ai;
}

@include avatar(member, 100px);