.panel-heading {
    display              : grid;
    grid-template-columns: repeat(2, 5fr) 1fr 1fr;
}

@media (max-width: 576px) {
    .panel-heading {
        grid-template-columns: 1fr;
    }

    .panel-body ul {
        padding: 0;
    }
}