//container 每一個大區塊共用
@mixin container {
  margin-bottom: $mar-cont;
  max-width: 1200px;
  padding: 0 30px;

  @content;
  @extend %mar-auto;
}

//grid
@mixin grid($num) {
  @for $i from 1 through $num {
    .col-#{$i}{
      width: ($i / 12) * 100%;
      @content;
    }
  }
}

//body動畫
@mixin bodyAnimated {  
  .animate-background {
    background-image   : url(../images/forum/clouds.png);
    animation          : animatedBackground 5500s linear infinite;
    background-position: 0px 0px;
    background-repeat  : repeat-x;
    @extend %bg-gray-third;
  }
  
  .forum-body-rules {
    @extend %border-box;
  }
  
  @keyframes animatedBackground {
    from {
      background-position: 100000% -15%;
    }
  
    to {
      background-position: 0% -15%;
    }
  }
}

//topic 主標
@mixin topic {
  .topic {
    @extend %black, %ta-center;
  }
  
  h2.chinese-topic {
    margin-top    : -45px;
    font-size     : 50px;
    letter-spacing: 8px;
    text-indent   : 8px;
    z-index       : 100;
  
    &::after{
      content: '';
      margin: auto;
      margin-top: 20px;
      width: 1em;
      height: 4px;
      border-radius: 2px;
      @extend %block, %bg-black;
  
    }
  
    @extend %ta-center;
  }

  .topic img {
    width: 20px;
    
    @extend %yellow-first;
  }
  
  .topic span {
    display: inline-block;
    position: relative;
    font-size: $font-base;
    z-index: -10;
    animation: animate 1.3s linear infinite;
  
    @extend %yellow-first;
  }

  .topic span:nth-child(odd) {
    animation-delay: 0s;
  }
  
  .topic span:nth-child(even) {
    animation-delay: 0.3s;
  }

  // .topic span:nth-child(1) {
  //   animation-delay: 0s;
  // }
  
  // .topic span:nth-child(2) {
  //   animation-delay: 0.2s;
  // }
  
  // .topic span:nth-child(3) {
  //   animation-delay: 0.4s;
  // }
  
  // .topic span:nth-child(4) {
  //   animation-delay: 0.5s;
  // }
  
  // .topic span:nth-child(5) {
  //   animation-delay: 0s;
  // }
  
  @keyframes animate {
    0% {
      transform: translateY(0px)
    }
  
    25% {
      transform: translateY(-6px)
    }
  
    50% {
      transform: translateY(-8px)
    }
  
    60% {
      transform: translateY(-8px)
    }
  
    75% {
      transform: translateY(-6px)
    }
  
    100% {
      transform: translateY(0px)
    }
  }
}

//btn 按鈕組件 可改標籤、按鈕等級、寬度、字體顏色、背景色、hover字體顏色、hover 背景色
@mixin btn($ele, $level, $w, $c, $bgc) {
  #{$ele}.btn-#{$level}{
    margin-right: $ele-ele;
    padding: 10px 20px;
    width: $w;
    font-size: $font-base;
    font-weight: $font-medium;
    border: none;
    border-radius: $btn-radius;

    @content;
    @extend %cursor-hand, %ta-center, #{$c}, #{$bgc};

    &:hover{
      @extend %white, %bg-black;
    }
  }
}

//page 頁碼 可改屬性名稱、字體顏色、背景色
@mixin page($name, $c, $bgc) {
  .page-#{$name}{
    padding: 10px 12px;
    border: 1px solid $black;
    border-radius: $page-radius;
    margin: 5px;
    text-decoration: none;
  
    @content;
    @extend %cursor-hand, #{$c}, #{$bgc};
  }
}

//label 可改屬性名稱、字體顏色
@mixin label($name, $c) {
  label.#{$name}{
    margin-bottom: $label-input;
    font-size: $font-base;
  
    @extend %block, #{$c};
  }
}

//input-text 可改屬性名稱、寬度、border-color
@mixin input($name, $w, $bdc) {
  input.#{$name}{
    margin-bottom: $ele-ele;
    padding: 0 20px;
    width: $w;
    height: 42px;
    border: 2px solid $bdc;
    border-radius: 5px;
    font-size: $font-base;

    @extend %border-box, %black;

    &:focus{
      @extend %bg-gray-third;
    }
  }
}

//select 可改屬性名稱、寬度
@mixin select($name, $w) {
  select.#{$name}{
    margin-bottom: $ele-ele;
    width: $w;
    height: 42px;
    padding: 0 20px;
    border: 2px solid $black;
    border-radius: 5px;
    font-size: $font-base;
  }
}

//pills 可改屬性名稱、文字顏色、cursor狀態
@mixin pills($name, $c, $cursor) {
  ul.pills{
    margin-bottom: $text-text;
  
    @extend %flex, %flex-w;
  }
  
  ul.pills::after{
    content: '';
    margin-top: $ele-ele;
    width: 100%;
    height: 1px;
  
    @extend %block, %bg-black;
  }
  
  ul.pills li.pills-#{$name}{
    margin: $ele-ele;
    font-size: $font-h4;
    @extend #{$c}, #{$cursor};
  }
  @content;
}

//table 可改寬度
@mixin table($w) {
  table, th, td {
    border: 1px solid $gray-first;
    border-collapse: collapse;
  
    @extend %ta-center;
  }
  
  th,td{
    width: $w;
    padding: 15px;
  }
  
  th,
  th span{
    font-weight: $font-bold;
    @extend %black, %bg-yellow-first;
  }
  @content;
}

//card 卡片 可改寬度
@mixin card($w) {
  .card{
    width: $w;
    padding: 20px;
    border: 1px solid $black;
    border-radius: $card-radius;
  }
  
  .card img{
    margin-bottom: $ele-ele;
    width: 100%;
  }
  
  .card section{
    margin-bottom: $ele-ele;
    width: 100%;
  }
  
  .card ul{
    list-style-type: square;
    list-style-position: inside;
  }
  
  .card ul li{
    margin-bottom: $ele-ele;
    font-size: $font-base;
  }
  
  .card button{
    margin-right: 0;
    margin-bottom: $ele-ele;
  }
  @content;
}

//圖文卡片photo-card 可改寬度
@mixin photoCard($w) {
  .photo-card{
    position: relative;
    width: $w;
    border: 1px solid $black;
    border-radius: $card-radius;
  }
  
  .photo-card .card-member,
  .card-sort{
    position: absolute;
  }
  
  .photo-card .card-member{
    top: -45px;
    left: $ele-ele;
  }
  
  @include avatar(card, 60px);
  .avatar-card{
    margin-right: $ele-ele/2;
    box-shadow: 0 0 0 4px $white;
  }
  
  .photo-card span.card-sort{
    width: 90px;
    top: $ele-ele/2;
    right: $ele-ele/2;
    padding: 5px;
    border-radius: $page-radius;      
  }
  
  .photo-card img:nth-child(2){
    margin-bottom: $ele-ele;
    width: 100%;
  }
  
  .photo-card h3{
    font-size: $font-h4;
  }
  
  .photo-card section{
    padding: $ele-ele;
  }
  
  .dateAndpeople .people-amount{  
    div{
      margin-right: $ele-ele/4;
    }
  }
  
  .photo-card section button{
    margin: auto;
  }
}

//rwd斷點用 斷點設備:寬度
@mixin rwd_each($res) {
  @each $viewpoint, $num in $breakpoint{
    @if $res==$viewpoint{
      @media all and (min-width:$num){
        @content;
      }
    }
  }
}

//人像圖形遮色片 over-flow 可改屬性名稱、大小
@mixin avatar($name, $w) {
  .avatar-#{$name}{
    margin-bottom: $ele-ele;
    width: $w;
    height: $w;
    border: $gray-third;
    border-radius: 50%;
    background-color: $gray-third;
    overflow: hidden;
  }
  
  .avatar-#{$name} img{
    width: 100%;
    height: 100%;
  }
}